In [ ]:
# How do you create a pandas Series from a Python list?
a=[1,2,3,4,5]
import pandas as pd
pd.Series(a)
# How do you create a pandas DataFrame from a dictionary of lists?
b={'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
pd.DataFrame(b)
# What does the .values attribute of a Series or DataFrame return?
b={'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
pd.DataFrame(b).values
# What information does the .shape attribute provide for a DataFrame?
b={'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
pd.DataFrame(b).shape
# How do you get the number of dimensions of a DataFrame using an attribute? (.ndim)
b={'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
bdf=pd.DataFrame(b)
bdf.ndim
# What does the .index attribute contain?
bdf.index
# How can you view the data types of each column in a DataFrame? (.dtypes)
bdf.dtypes
# What is the purpose of the .columns attribute?
bdf.columns
# How can you get the total number of elements in a DataFrame? (.size)
# bdf.size
# # What method displays the first 5 rows of a DataFrame? (.head())
# df=pd.read_csv('/content/sample_data/mnist_test.csv')
# print(df.head())
# # What method displays the last 5 rows of a DataFrame? (.tail())
# df.tail()

# # How would you display the last 7 rows of a DataFrame? (.tail(7))
# df.tail(7)
# # What method provides a concise summary of a DataFrame, including non-null counts and memory usage? (.info())
# df.info

# # How do you generate descriptive statistics for the numerical columns in a DataFrame? (.describe())
# print(df.describe())
# # How can you include statistics for object (e.g., string) columns in the output of .describe()?
# # Since this dataset doesn't have object columns, this line caused an error.
# # print(df.describe(include='object'))
# data={'name':['a','b','c','d','e'],'age':[1,2,3,4,5]}
# df=pd.DataFrame(data)
# print(df)
# print(df.describe(include='object'))
# # What method would you use to get a random sample of rows from your DataFrame? (.sample())
# print(df.sample())
# # How do you check if a DataFrame is empty? (.empty attribute)
# print(df.empty)
# # How can you get the memory usage of each column in a DataFrame? (.memory_usage())
# print(df.memory_usage())
# # What is the difference between the .size and .shape attributes?
# print(df.size)
# print(df.shape)
# # How do you rename the column 'old_name' to 'new_name'? (.rename())
# print(df.rename(columns={'name[1]':'Ayesha'}))
# # How do you set the DataFrame's index to the 'employee_id' column and make the change permanent? (.set_index(), inplace=True)
# df.set_index('name',inplace=True)
# print(df)
# # Section 2: Selection & Filtering (Questions 21-45)
# data = {
#     'Employee ID': range(1, 21),
#     'Name': [f'Employee_{i}' for i in range(1, 21)],
#     'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], 20),
#     'Salary': np.random.randint(50000, 120000, 20),
#     'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='ME')),
#     'Performance Score': np.random.uniform(70, 100, 20).round(2)
}

df_employees = pd.DataFrame(data)
display(df_employees)
# How do you select a single column named 'salary' from a DataFrame, returning a Series?
df_employees['Salary'].dropna()
new_data = {
    'Employee ID': [21, 22, 23],
    'Name': ['Employee_21', 'Employee_22', 'Employee_23'],
    'Department': [np.nan, 'Marketing', 'Sales'],
    'Salary': [75000, np.nan, 90000],
    'Start Date': [pd.to_datetime('2021-09-30'), pd.to_datetime('2021-10-31'), np.nan],
    'Performance Score': [np.nan, 88.5, 92.1]
}

df_new_employees = pd.DataFrame(new_data)

# # Concatenate the new rows to the existing DataFrame
# df_employees = pd.concat([df_employees, df_new_employees], ignore_index=True)

# display(df_employees)

# df_new_employees.value_counts(dropna=True)
# # How do you select the 'name' and 'salary' columns, returning a DataFrame?
# # df_employees[['Name','Salary']].sort_values(ascending=[True,False])
# # How do you filter for employees with a salary greater than 90,000?

# What is the fundamental difference between .loc[] and .iloc[]?
df_employees(index=[i for i in len(df_new_employees[0])])
# Using .iloc[], how do you select the first 3 rows?
# Using .loc[], how do you select the row with the index label 'ID-123'?
# How do you select the first 5 rows and the first 2 columns using .iloc[]?
# How do you select all rows where the 'department' column is 'Engineering'?
# Write the code to filter for employees with a 'salary' greater than 100,000.
# How do you filter for employees in the 'Engineering' department who also have a salary over 100,000?
# What is the purpose of the parentheses when combining multiple boolean conditions for filtering?
# How do you select employees who are in the 'HR' OR 'Marketing' department using the .isin() method?
# How would you select all employees that are not in the 'Engineering' department? (Use != or ~)
# How do you select rows where the 'salary' is between 70,000 and 90,000 using the .between() method?
# What does the .query() method do and what is one advantage of using it?
# Using .query(), select all rows where salary > 100000 and department == 'Engineering'.
# How do you find all rows where a specific column's value is null/missing? (.isnull())
# How do you find all rows where a column's value is not null? (.notnull())
# Using the .str accessor, how do you filter for names that start with the letter 'A'?
# Using the .str accessor, how do you find all departments that contain the substring 'ineer'?
# How do you select the row with the largest value in the 'salary' column? (.nlargest())
# How do you select the 5 rows with the smallest performance scores? (.nsmallest())
# What is the difference between df['col'] and df.col for selecting a column? When can df.col fail?
# How do you drop the column named 'temp_column' from a DataFrame? (.drop())
# How do you drop rows with index labels 'row1' and 'row2'?
# Using .loc[], how do you change the salary of the employee with index 'ID-101' to 95000?
# Section 3: Mathematical & Statistical Methods (Questions 46-70)
# How do you calculate the sum of the 'salary' column?
# What method calculates the average of a column? (.mean())
# How do you find the median salary? (.median())
# How do you find the minimum and maximum values in the 'performance_score' column?
# What method returns the index of the maximum value in a Series? (.idxmax())
# What method returns the index of the minimum value? (.idxmin())
# How do you get the number of non-null values in each column of a DataFrame? (.count())
# How do you calculate the standard deviation of a numerical column? (.std())
# How do you calculate the variance? (.var())
# What method would you use to get the frequency counts of unique values in the 'department' column? (.value_counts())
# Using .value_counts(), how would you display the frequencies as percentages?
# How do you get a NumPy array of the unique values in a column? (.unique())
# How do you count the number of unique values in a column? (.nunique())
# What method calculates the cumulative sum of a column? (.cumsum())
# What is the purpose of the .cumprod() method?
# How do you calculate the correlation matrix for all numerical columns in a DataFrame? (.corr())
# How do you compute the pairwise correlation between two specific columns?
# What is the difference between covariance (.cov()) and correlation (.corr())?
# How would you apply a function, like numpy.sqrt, to every element in a DataFrame? (.applymap())
# How do you get the absolute value of all numbers in a Series? (.abs())
# What method computes the percentage change between elements in a Series? (.pct_change())
# How do you calculate the skewness of a numerical distribution? (.skew())
# How do you calculate the kurtosis? (.kurt())
# What does the .round(2) method do on a Series of floats?
# How would you chain methods to find the mean salary of the top 10 highest-paid employees?
# Section 4: The GroupBy Class (Questions 71-95)
# What kind of object is returned by df.groupby('department')?
# After grouping by 'department', how do you calculate the mean salary for each group?
# How do you get the size of each group after grouping by 'department'? (.size())
# How can you apply multiple aggregation functions (e.g., sum, mean) to the 'salary' column for each department at once? (.agg())
# Using .agg(), how do you calculate the mean 'salary' and the max 'performance_score' for each department?
# What is "named aggregation" and how would you use it to rename aggregated columns directly?
# How do you group by multiple columns, for instance, 'department' and 'start_year'?
# After grouping, how do you retrieve a specific group's DataFrame, for example, the 'Engineering' group? (.get_group())
# How can you iterate through the groups of a GroupBy object?
# What is the primary use case of groupby().transform()?
# How does groupby().transform('mean') differ from groupby().mean()?
# Use .transform() to create a new column that shows the average salary for each employee's department.
# What is the purpose of groupby().filter()?
# Use .filter() to return a DataFrame containing only the departments that have more than 2 employees.
# After grouping, how can you get the first entry of each group? (.first())
# How can you get the nth largest salary within each department?
# What does df.groupby('department').describe() show you?
# How does groupby().cumcount() work?
# Can you apply a custom lambda function in an aggregation? Show an example.
# How do you reset the index of a DataFrame that has been created from a groupby operation? (.reset_index())
# What is a MultiIndex and when is it created during a groupby operation?
# How do you apply a function to each group that returns a DataFrame, and then combines the results? (.apply())
# What is the difference between groupby().count() and groupby().size()? (Hint: NaN values)
# How do you find the number of unique employees within each department after grouping?
# How would you calculate the total salary as a percentage of the entire company's salary for each department?
# Section 5: Merging, Joining, and Concatenating (Questions 96-115)
# What are the three main functions for combining DataFrames in pandas?
# What is the purpose of pd.concat()?
# How do you stack two DataFrames (df1, df2) vertically on top of each other?
# What does the axis=1 parameter do in pd.concat()?
# When concatenating, what problem can arise with the indexes and how do you solve it? (ignore_index=True)
# What is the fundamental purpose of pd.merge()?
# What are the four main types of joins you can perform with pd.merge()? (how parameter)
# What is an 'inner' join?
# What is a 'left' join?
# How do you merge df_employees and df_managers on a common column named 'department_id'? (on=...)
# What if the key columns have different names in the two DataFrames? (left_on, right_on)
# What happens if you merge two DataFrames that both have columns with the same name (that are not the join key)? How do you handle this? (suffixes=...)
# How does df.join() differ from pd.merge() in its default behavior? (Joins on index)
# How would you perform a left join of df1 and df2 where df1 is joined on a column and df2 is joined on its index?
# What does the validate parameter in .merge() do? (e.g., "one_to_one")
# What is a Cartesian product merge and how would you perform one?
# How do you combine DataFrames based on both their indexes and a key column?
# What is the difference between pd.merge() and pd.concat() when axis=1? (Hint: Index alignment)
# How do you add a key to identify which original DataFrame a row came from when concatenating? (keys=...)
# What is pd.merge_asof() used for? (Time-series merges)
# Section 6: All Other Important Functions & Methods (Questions 116-150)
# How do you convert a column of strings into datetime objects? (pd.to_datetime())
# Once a column is in datetime format, what accessor do you use to get properties like year or month? (.dt)
# Using the .dt accessor, how do you get the name of the day of the week?
# How do you handle missing values using the .dropna() method?
# How do you fill missing values with the number 0? (.fillna(0))
# What is forward-filling (ffill) and when is it useful?
# How do you sort a DataFrame by the 'salary' column in descending order? (.sort_values())
# How do you sort by multiple columns (e.g., by 'department' then by 'salary')?
# What method is used to sort a DataFrame by its index? (.sort_index())
# How do you find and remove duplicate rows from a DataFrame? (.drop_duplicates())
# How do you keep only the last occurrence of a duplicated row?
# What is the purpose of df.pivot_table()? What do the index, columns, and values arguments represent?
# What is the inverse of pivoting? How do you convert a "wide" DataFrame to a "long" one? (.melt())
# What is method chaining and why is it a popular pattern in pandas?
# How can df.pipe() be used to improve method chaining?
# How do you change the data type of the 'employee_id' column to 'category'? (.astype())
# What are the memory and performance benefits of using the 'category' dtype?
# How do you use pd.cut() to bin a numerical column into discrete intervals?
# What is the difference between pd.cut() and pd.qcut()?
# How do you read a CSV file into a DataFrame? (pd.read_csv())
# How do you write a DataFrame to an Excel file, excluding the index? (.to_excel(), index=False)
# How do you create dummy variables from a categorical column like 'department'? (pd.get_dummies())
# What is the main purpose of the .apply() method?
# What is the difference between .apply() and .applymap() for a DataFrame?
# How do you calculate a 3-period rolling average of a Series? (.rolling())
# What is the difference between a rolling window and an expanding window (.expanding())?
# How do you shift the values in a Series forward by one period? (.shift())
# What is the primary use case for df.explode()? (Lists/iterables in cells)
# How do you clip the values in a Series to be within a specific range (e.g., between 0 and 100)? (.clip())
# How do you change pandas display options to show all columns of a wide DataFrame? (pd.set_option())
# What does the df.style attribute allow you to do? (Conditional formatting)
# What does the df.replace() method do? Show an example.
# What is the purpose of df.to_clipboard()?
# How do you reset a DataFrame's index back to the default integer index? (.reset_index())
# What does the df.copy() method do and why is it important to use it sometimes?

SyntaxError: unmatched '}' (ipython-input-1083398945.py, line 68)

In [13]:
import pandas as pd
Fruits={'Apples':[30,40,50,60],'Banana':[21,24,56,47]}
df=pd.DataFrame(Fruits)
# The previous line caused an error. Using iloc for integer-based indexing:
# Select all rows and the first column by integer position (index 0)
print(df.iloc[:, 0])

# Select the first row (index 0) and all columns
print(df.iloc[0, :])

# Select the first two rows (indices 0 and 1) and the second column (index 1)
print(df.iloc[0:2, 1])

# Select a specific cell at row index 2 and column index 0
print(df.iloc[2, 0])

0    30
1    40
2    50
3    60
Name: Apples, dtype: int64
Apples    30
Banana    21
Name: 0, dtype: int64
0    21
1    24
Name: Banana, dtype: int64
50

In [ ]:
import pandas as pd
import numpy as np

# How do you select a single column named 'salary' from a DataFrame, returning a Series?
# This line selects the 'Salary' column and drops any NaN values, returning a Series.
print("Selecting 'Salary' column and dropping NaNs:")
print(df_employees['Salary'].dropna())

# The following code block was for creating a new DataFrame with potential NaNs
# and concatenating it, but it was commented out.
# new_data = {
#     'Employee ID': [21, 22, 23],
#     'Name': ['Employee_21', 'Employee_22', 'Employee_23'],
#     'Department': [np.nan, 'Marketing', 'Sales'],
#     'Salary': [75000, np.nan, 90000],
#     'Start Date': [pd.to_datetime('2021-09-30'), pd.to_datetime('2021-10-31'), np.nan],
#     'Performance Score': [np.nan, 88.5, 92.1]
# }

# df_new_employees = pd.DataFrame(new_data)

# # Concatenate the new rows to the existing DataFrame
# df_employees = pd.concat([df_employees, df_new_employees], ignore_index=True)

# display(df_employees)

# df_new_employees.value_counts(dropna=True)

# The following lines were commented out questions or attempts at code.

# # How do you select the 'name' and 'salary' columns, returning a DataFrame?
# # df_employees[['Name','Salary']].sort_values(ascending=[True,False])
# # How do you filter for employees with a salary greater than 90,000?

# # What is the fundamental difference between .loc[] and .iloc[]?

# This line caused a KeyError and its original intent is unclear, so it's commented out.
# df_employees(index=[i for i in len(df_new_employees[0])])

# The following lines are additional questions or attempts at code that were commented out.
# # Using .iloc[], how do you select the first 3 rows?
df_new_employees.iloc[:3]
# # Using .loc[], how do you select the row with the index label 'ID-123'?
df_new_employees.loc[1]
# # How do you select the first 5 rows and the first 2 columns using .iloc[]?
df_new_employees.iloc[:5,:2]
# # How do you select all rows where the 'department' column is 'Engineering'?
dt=df_new_employees[df_new_employees['Department']=='Engineering']
print(dt)
# # Write the code to filter for employees with a 'salary' greater than 100,000.
dt['Salary']>100000
# # How do you filter for employees in the 'Engineering' department who also have a salary over 100,000?
dt[(dt['Department']=='Engineering') & (dt['Salary']>100000)]
# # What is the purpose of the parentheses when combining multiple boolean conditions for filtering?
#checking all the statements are true or not
# # How do you select employees who are in the 'HR' OR 'Marketing' department using the .isin() method?
dt[dt['Department'].isin(['HR','Marketing'])]
# # How would you select all employees that are not in the 'Engineering' department? (Use != or ~)
dt[~(dt['Department']=='Engineering')]
dt[dt['Department']!='Engineering']
# # How do you select rows where the 'salary' is between 70,000 and 90,000 using the .between() method?
dt['Salary'].between(70000,90000)
# # What does the .query() method do and what is one advantage of using it?

# # Using .query(), select all rows where salary > 100000 and department == 'Engineering'.
dt.query('Salary>100000 and Department=="Engineering"')
# # How do you find all rows where a specific column's value is null/missing? (.isnull())
dt[dt['Department'].isnull()]
# # How do you find all rows where a column's value is not null? (.notnull())
dt['Department'].notnull()
# # Using the .str accessor, how do you filter for names that start with the letter 'A'?
dt[dt['Name'].str.startswith('A')]
# # Using the .str accessor, how do you find all departments that contain the substring 'ineer'?
dt[dt['Department'].str.contains('ineer')]

# # How do you select the row with the largest value in the 'salary' column? (.nlargest())
print("\nRow with the largest salary:")
print(df_employees.nlargest(1, 'Salary'))
# # How do you select the 5 rows with the smallest performance scores? (.nsmallest())
print("\n5 rows with the smallest performance scores:")
print(df_employees.nsmallest(5, 'Performance Score'))
# # What is the difference between df['col'] and df.col for selecting a column? When can df.col fail?

# # How do you drop the column named 'temp_column' from a DataFrame? (.drop())
# # How do you drop rows with index labels 'row1' and 'row2'?
# # Using .loc[], how do you change the salary of the employee with index 'ID-101' to 95000?
# # Section 3: Mathematical & Statistical Methods (Questions 46-70)
# # How do you calculate the sum of the 'salary' column?
dt['Salary'].sum()
# # What method calculates the average of a column? (.mean())
dt['Salary'].mean()
# # How do you find the median salary? (.median())
dt['Salary'].median()

# # How do you find the minimum and maximum values in the 'performance_score' column?
dt['Performance Score'].min()
dt['Performance Score'].max()
# # What method returns the index of the maximum value in a Series? (.idxmax())
a=dt['Performance Score'].dropna().idxmax()
print(a)


# # What method returns the index of the minimum value? (.idxmin())
# # How do you get the number of non-null values in each column of a DataFrame? (.count())
# This line caused a TypeError, I will comment it out and provide the correct way to count non-null and null values
# dt['Department'].count(dropna=False)

print("\nNon-null values in 'Department' column:")
print(dt['Department'].count())

print("\nNull values in 'Department' column:")
print(dt['Department'].isnull().sum())

# # How do you calculate the standard deviation of a numerical column? (.std())

# # How do you calculate the variance? (.var())
# # What method would you use to get the frequency counts of unique values in the 'department' column? (.value_counts())
# # Using .value_counts(), how would you display the frequencies as percentages?
# # How do you get a NumPy array of the unique values in a column? (.unique())
# # How do you count the number of unique values in a column? (.nunique())
# # What method calculates the cumulative sum of a column? (.cumsum())
# # What is the purpose of the .cumprod() method?
# # How do you calculate the correlation matrix for all numerical columns in a DataFrame? (.corr())
# # How do you compute the pairwise correlation between two specific columns?
# # What is the difference between covariance (.cov()) and correlation (.corr())?
# # How would you apply a function, like numpy.sqrt, to every element in a DataFrame? (.applymap())
# # How do you get the absolute value of all numbers in a Series? (.abs())
# # What method computes the percentage change between elements in a Series? (.pct_change())
# # How do you calculate the skewness of a numerical distribution? (.skew())
# # How do you calculate the kurtosis? (.kurt())
# # What does the .round(2) method do on a Series of floats?
# # How would you chain methods to find the mean salary of the top 10 highest-paid employees?
# # Section 4: The GroupBy Class (Questions 71-95)
# # What kind of object is returned by df.groupby('department')?
# # After grouping by 'department', how do you calculate the mean salary for each group?
# # How do you get the size of each group after grouping by 'department'? (.size())
# # How can you apply multiple aggregation functions (e.g., sum, mean) to the 'salary' column for each department at once? (.agg())
# # Using .agg(), how do you calculate the mean 'salary' and the max 'performance_score' for each department?
# # What is "named aggregation" and how would you use it to rename aggregated columns directly?
# # How do you group by multiple columns, for instance, 'department' and 'start_year'?
# # After grouping, how do you retrieve a specific group's DataFrame, for example, the 'Engineering' group? (.get_group())
# # How can you iterate through the groups of a GroupBy object?
# # What is the primary use case of groupby().transform()?
# # How does groupby().transform('mean') differ from groupby().mean()?
# # Use .transform() to create a new column that shows the average salary for each employee's department.
# # What is the purpose of groupby().filter()?
# # Use .filter() to return a DataFrame containing only the departments that have more than 2 employees.
# # After grouping, how can you get the first entry of each group? (.first())
# # How can you get the nth largest salary within each department?
# # What does df.groupby('department').describe() show you?
# # How does groupby().cumcount() work?
# # Can you apply a custom lambda function in an aggregation? Show an example.
# # How do you reset the index of a DataFrame that has been created from a groupby operation? (.reset_index())
# # What is a MultiIndex and when is it created during a groupby operation?
# # How do you apply a function to each group that returns a DataFrame, and then combines the results? (.apply())
# # What is the difference between groupby().count() and groupby().size()? (Hint: NaN values)
# # How do you find the number of unique employees within each department after grouping?
# # How would you calculate the total salary as a percentage of the entire company's salary for each department?
# # Section 5: Merging, Joining, and Concatenating (Questions 96-115)
# # What are the three main functions for combining DataFrames in pandas?
# # What is the purpose of pd.concat()?
# # How do you stack two DataFrames (df1, df2) vertically on top of each other?
# # What does the axis=1 parameter do in pd.concat()?
# # When concatenating, what problem can arise with the indexes and how do you solve it? (ignore_index=True)
# # What is the fundamental purpose of pd.merge()?
# # What are the four main types of joins you can perform with pd.merge()? (how parameter)
# # What is an 'inner' join?
# # What is a 'left' join?
# # How do you merge df_employees and df_managers on a common column named 'department_id'? (on=...)
# # What if the key columns have different names in the two DataFrames? (left_on, right_on)
# # What happens if you merge two DataFrames that both have columns with the same name (that are not the join key)? How do you handle this? (suffixes=...)
# # How does df.join() differ from pd.merge() in its default behavior? (Joins on index)
# # How would you perform a left join of df1 and df2 where df1 is joined on a column and df2 is joined on its index?
# # What does the validate parameter in .merge() do? (e.g., "one_to_one")
# # What is a Cartesian product merge and how would you perform one?
# # How do you combine DataFrames based on both their indexes and a key column?
# # What is the difference between pd.merge() and pd.concat() when axis=1? (Hint: Index alignment)
# # How do you add a key to identify which original DataFrame a row came from when concatenating? (keys=...)
# # What is pd.merge_asof() used for? (Time-series merges)
# # Section 6: All Other Important Functions & Methods (Questions 116-150)
# # How do you convert a column of strings into datetime objects? (pd.to_datetime())
# # Once a column is in datetime format, what accessor do you use to get properties like year or month? (.dt)
# # Using the .dt accessor, how do you get the name of the day of the week?
# # How do you handle missing values using the .dropna() method?
# # How do you fill missing values with the number 0? (.fillna(0))
# # What is forward-filling (ffill) and when is it useful?
# # How do you sort a DataFrame by the 'salary' column in descending order? (.sort_values())
# # How do you sort by multiple columns (e.g., by 'department' then by 'salary')?
# # What method is used to sort a DataFrame by its index? (.sort_index())
# # How do you find and remove duplicate rows from a DataFrame? (.drop_duplicates())
# # How do you keep only the last occurrence of a duplicated row?
# # What is the purpose of df.pivot_table()? What do the index, columns, and values arguments represent?
# # What is the inverse of pivoting? How do you convert a "wide" DataFrame to a "long" one? (.melt())
# # What is method chaining and why is it a popular pattern in pandas?
# # How can df.pipe() be used to improve method chaining?
# # How do you change the data type of the 'employee_id' column to 'category'? (.astype())
# # What are the memory and performance benefits of using the 'category' dtype?
# # How do you use pd.cut() to bin a numerical column into discrete intervals?
# # What is the difference between pd.cut() and pd.qcut()?
# # How do you read a CSV file into a DataFrame? (pd.read_csv())
# # How do you write a DataFrame to an Excel file, excluding the index? (.to_excel(), index=False)
# # How do you create dummy variables from a categorical column like 'department'? (pd.get_dummies())
# # What is the main purpose of the .apply() method?
# # What is the difference between .apply() and .applymap() for a DataFrame?
# # How do you calculate a 3-period rolling average of a Series? (.rolling())
# # What is the difference between a rolling window and an expanding window (.expanding())?
# # How do you shift the values in a Series forward by one period? (.shift())
# # What is the primary use case for df.explode()? (Lists/iterables in cells)
# # How do you clip the values in a Series to be within a specific range (e.g., between 0 and 100)? (.clip())
# # How do you change pandas display options to show all columns of a wide DataFrame? (pd.set_option())
# # What does the df.style attribute allow you to do? (Conditional formatting)
# # What does the df.replace() method do? Show an example.
# # What is the purpose of df.to_clipboard()?
# # How do you reset a DataFrame's index back to the default integer index? (.reset_index())
# # What does the df.copy() method do and why is it important to use it sometimes?

Selecting 'Salary' column and dropping NaNs:

NameError: name 'df_employees' is not defined

In [ ]:
# How do you calculate the variance? (.var())
# Generate employee data
data = {
    'Employee ID': range(1, 21),
    'Name': [f'Employee_{i}' for i in range(1, 21)],
    'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], 20),
    'Salary': np.random.randint(50000, 120000, 20),
    'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='M')),
    'Performance Score': np.random.uniform(70, 100, 20).round(2)
}

df_employees = pd.DataFrame(data)
display(df_employees)
df_employees['Salary'].var()
#

# What method would you use to get the frequency counts of unique values in the 'department' column? (.value_counts())
df_employees['Department'].value_counts(unique=True)
# Using .value_counts(), how would you display the frequencies as percentages?
df_employeesf=df_employees['Department'].value_counts(normalize=True)
print(df_employeesf)
# How do you get a NumPy array of the unique values in a column? (.unique())
# How do you count the number of unique values in a column? (.nunique())
# What method calculates the cumulative sum of a column? (.cumsum())
# What is the purpose of the .cumprod() method?
# How do you calculate the correlation matrix for all numerical columns in a DataFrame? (.corr())
# How do you compute the pairwise correlation between two specific columns?
# What is the difference between covariance (.cov()) and correlation (.corr())?
# How would you apply a function, like numpy.sqrt, to every element in a DataFrame? (.applymap())
# How do you get the absolute value of all numbers in a Series? (.abs())
# What method computes the percentage change between elements in a Series? (.pct_change())
# How do you calculate the skewness of a numerical distribution? (.skew())
# How do you calculate the kurtosis? (.kurt())
# What does the .round(2) method do on a Series of floats?
# How would you chain methods to find the mean salary of the top 10 highest-paid employees?
# Section 4: The GroupBy Class (Questions 71-95)
# What kind of object is returned by df.groupby('department')?
# After grouping by 'department', how do you calculate the mean salary for each group?
# How do you get the size of each group after grouping by 'department'? (.size())
# How can you apply multiple aggregation functions (e.g., sum, mean) to the 'salary' column for each department at once? (.agg())
# Using .agg(), how do you calculate the mean 'salary' and the max 'performance_score' for each department?
# What is "named aggregation" and how would you use it to rename aggregated columns directly?
# How do you group by multiple columns, for instance, 'department' and 'start_year'?
# After grouping, how do you retrieve a specific group's DataFrame, for example, the 'Engineering' group? (.get_group())
# How can you iterate through the groups of a GroupBy object?
# What is the primary use case of groupby().transform()?
# How does groupby().transform('mean') differ from groupby().mean()?
# Use .transform() to create a new column that shows the average salary for each employee's department.
# What is the purpose of groupby().filter()?
# Use .filter() to return a DataFrame containing only the departments that have more than

/tmp/ipython-input-2023753343.py:8: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='M')),

,Employee ID,Name,Department,Salary,Start Date,Performance Score
0,1,Employee_1,Finance,54618,2020-01-31,93.59
1,2,Employee_2,Sales,93937,2020-02-29,92.19
2,3,Employee_3,Engineering,66025,2020-03-31,86.78
3,4,Employee_4,Engineering,100405,2020-04-30,92.84
4,5,Employee_5,Finance,78241,2020-05-31,90.54
5,6,Employee_6,Engineering,81466,2020-06-30,72.96
6,7,Employee_7,Marketing,64473,2020-07-31,74.48
7,8,Employee_8,Engineering,53695,2020-08-31,81.88
8,9,Employee_9,Engineering,82967,2020-09-30,83.96
9,10,Employee_10,Engineering,78447,2020-10-31,98.26
10,11,Employee_11,Marketing,98239,2020-11-30,73.31
11,12,Employee_12,Finance,58066,2020-12-31,94.22
12,13,Employee_13,Finance,51752,2021-01-31,81.88
13,14,Employee_14,Finance,88384,2021-02-28,89.46
14,15,Employee_15,Marketing,116101,2021-03-31,83.41
15,16,Employee_16,Finance,61867,2021-04-30,97.87
16,17,Employee_17,Finance,84932,2021-05-31,77.15
17,18,Employee_18,Engineering,63608,2021-06-30,82.62
18,19,Employee_19,Engineering,65700,2021-07-31,84.59
19,20,Employee_20,Marketing,107612,2021-08-31,72.21

TypeError: IndexOpsMixin.value_counts() got an unexpected keyword argument 'unique'

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {'col with space': [1, 2, 3],
        'valid_col': [4, 5, 6],
        '123': [7, 8, 9]}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

# Accessing columns using df['col'] (always works with valid column names)
print("\nUsing df['col']:")
print(df['valid_col'])
print(df['col with space']) # Works even with spaces
print(df['123']) # Works even if column name starts with a number

# Accessing columns using df.col (fails in certain cases)
print("\nUsing df.col:")
print(df.valid_col)

# When df.col can fail:
# 1. Column names with spaces or special characters
print("\nCases where df.col fails:")
try:
    # This will raise a SyntaxError
    # print(df.col with space)
    print("  Cannot use df.col with column names having spaces or special characters.")
except SyntaxError as e:
    print(f"  Caught expected SyntaxError: {e}")


# 2. Column names that are the same as DataFrame attributes or methods
# For example, if you had a column named 'shape' or 'mean'
# df['shape'] would work, but df.shape would return the DataFrame's shape attribute

# 3. Column names that start with a number
try:
    # This will raise a SyntaxError
    # print(df.123)
     print("  Cannot use df.col with column names starting with a number.")
except SyntaxError as e:
     print(f"  Caught expected SyntaxError: {e}")


# Example of a column name that shadows a DataFrame attribute
data_shadow = {'size': [10, 20, 30], 'value': [1, 2, 3]}
df_shadow = pd.DataFrame(data_shadow)

print("\nDataFrame with a column named 'size':")
print(df_shadow)

print("Accessing 'size' column using df_shadow['size']:")
print(df_shadow['size'])

print("Accessing 'size' using df_shadow.size (returns DataFrame attribute):")
print(df_shadow.size)

print("Accessing 'value' using df_shadow.value (works):")
print(df_shadow.value)

print("\nSummary:")
print("Use df['column_name'] for reliable column selection in all cases.")
print("Use df.column_name for convenience when column names are valid Python identifiers and do not conflict with DataFrame attributes/methods.")

Original DataFrame:
   col with space  valid_col  123
0               1          4    7
1               2          5    8
2               3          6    9

Using df['col']:
0    4
1    5
2    6
Name: valid_col, dtype: int64
0    1
1    2
2    3
Name: col with space, dtype: int64
0    7
1    8
2    9
Name: 123, dtype: int64

Using df.col:
0    4
1    5
2    6
Name: valid_col, dtype: int64

Cases where df.col fails:
  Cannot use df.col with column names having spaces or special characters.
  Cannot use df.col with column names starting with a number.

DataFrame with a column named 'size':
   size  value
0    10      1
1    20      2
2    30      3
Accessing 'size' column using df_shadow['size']:
0    10
1    20
2    30
Name: size, dtype: int64
Accessing 'size' using df_shadow.size (returns DataFrame attribute):
6
Accessing 'value' using df_shadow.value (works):
0    1
1    2
2    3
Name: value, dtype: int64

Summary:
Use df['column_name'] for reliable column selection in all cases.
Use df.column_name for convenience when column names are valid Python identifiers and do not conflict with DataFrame attributes/methods.

In [ ]:
import pandas as pd
import numpy as np

# Example 1: Handling missing values with mean()
df1 = pd.DataFrame({'col1': [1, 2, np.nan, 4, 5]})
print("Example 1: Mean with NaN")
print(df1['col1'].mean())

# Example 2: Handling missing values with sum()
print("\nExample 2: Sum with NaN")
print(df1['col1'].sum())

# Example 3: Filling missing values with fillna()
print("\nExample 3: Filling NaN with 0")
print(df1['col1'].fillna(0))

# Example 4: Dropping missing values with dropna()
print("\nExample 4: Dropping NaN")
print(df1['col1'].dropna())

# Example 5: Using value_counts() with NaN
df5 = pd.DataFrame({'col1': ['A', 'B', 'A', np.nan, 'B', 'A']})
print("\nExample 5: value_counts() with NaN")
print(df5['col1'].value_counts(dropna=False))

# Example 6: Concatenating DataFrames with different columns
df6_1 = pd.DataFrame({'colA': [1, 2], 'colB': [3, 4]})
df6_2 = pd.DataFrame({'colC': [5, 6], 'colD': [7, 8]})
print("\nExample 6: Concatenating DataFrames with different columns")
print(pd.concat([df6_1, df6_2], axis=1))

# Example 7: Concatenating DataFrames with overlapping columns
df7_1 = pd.DataFrame({'colA': [1, 2], 'colB': [3, 4]})
df7_2 = pd.DataFrame({'colA': [5, 6], 'colC': [7, 8]})
print("\nExample 7: Concatenating DataFrames with overlapping columns")
print(pd.concat([df7_1, df7_2], join='inner'))

# Example 8: Merging DataFrames with different column names for the merge key
df8_1 = pd.DataFrame({'employee_id': [1, 2], 'Name': ['A', 'B']})
df8_2 = pd.DataFrame({'id': [1, 2], 'Salary': [100, 200]})
print("\nExample 8: Merging with different key names")
print(pd.merge(df8_1, df8_2, left_on='employee_id', right_on='id'))

# Example 9: Merging DataFrames with duplicate key values
df9_1 = pd.DataFrame({'colA': [1, 2, 2], 'colB': ['A', 'B', 'C']})
df9_2 = pd.DataFrame({'colA': [1, 2], 'colC': ['X', 'Y']})
print("\nExample 9: Merging with duplicate keys")
print(pd.merge(df9_1, df9_2, on='colA'))

# Example 10: Using groupby() on an empty DataFrame
df10 = pd.DataFrame(columns=['col1', 'col2'])
print("\nExample 10: Groupby on empty DataFrame")
print(df10.groupby('col1').sum())

# Example 11: Using apply() with a function that returns different types
df11 = pd.DataFrame({'col1': [1, 2, 3]})
print("\nExample 11: apply() with mixed return types")
print(df11['col1'].apply(lambda x: str(x) if x % 2 == 0 else x))

# Example 12: Using pivot_table() with duplicate entries
df12 = pd.DataFrame({'colA': ['A', 'A', 'B'], 'colB': ['X', 'X', 'Y'], 'colC': [1, 2, 3]})
print("\nExample 12: pivot_table() with duplicate entries")
print(df12.pivot_table(index='colA', columns='colB', values='colC', aggfunc='sum'))

# Example 13: Using sort_values() with missing values
df13 = pd.DataFrame({'col1': [1, np.nan, 3, 2], 'col2': ['A', 'B', 'C', 'D']})
print("\nExample 13: sort_values() with NaN")
print(df13.sort_values(by='col1'))

# Example 14: Using sort_index() with a non-standard index
df14 = pd.DataFrame({'col1': [1, 2]}, index=['C', 'A'])
print("\nExample 14: sort_index() with non-standard index")
print(df14.sort_index())

# Example 15: Using rename() with a non-existent column
df15 = pd.DataFrame({'col1': [1, 2]})
print("\nExample 15: rename() with non-existent column")
print(df15.rename(columns={'non_existent_col': 'new_name'}))

# Example 16: Using drop() with a non-existent column
df16 = pd.DataFrame({'col1': [1, 2]})
# This will raise an error if errors='raise' (default)
# print("\nExample 16: drop() with non-existent column")
# print(df16.drop(columns=['non_existent_col']))
print("\nExample 16: drop() with non-existent column (errors='ignore')")
print(df16.drop(columns=['non_existent_col'], errors='ignore'))


# Example 17: Using unique() on a column with NaN
df17 = pd.DataFrame({'col1': ['A', 'B', 'A', np.nan, 'B', 'A']})
print("\nExample 17: unique() with NaN")
print(df17['col1'].unique())

# Example 18: Using nunique() on a column with NaN
print("\nExample 18: nunique() with NaN")
print(df17['col1'].nunique(dropna=False))
print(df17['col1'].nunique(dropna=True))


# Example 19: Using replace() with multiple values
df19 = pd.DataFrame({'col1': ['A', 'B', 'A', 'C', 'B']})
print("\nExample 19: replace() with multiple values")
print(df19['col1'].replace(['A', 'B'], ['X', 'Y']))

# Example 20: Using replace() with a dictionary and regex
df20 = pd.DataFrame({'col1': ['A1', 'B2', 'C3']})
print("\nExample 20: replace() with dictionary and regex")
print(df20['col1'].replace({'[A-Z]': 'Letter'}, regex=True))

Example 1: Mean with NaN
3.0

Example 2: Sum with NaN
12.0

Example 3: Filling NaN with 0
0    1.0
1    2.0
2    0.0
3    4.0
4    5.0
Name: col1, dtype: float64

Example 4: Dropping NaN
0    1.0
1    2.0
3    4.0
4    5.0
Name: col1, dtype: float64

Example 5: value_counts() with NaN
col1
A      3
B      2
NaN    1
Name: count, dtype: int64

Example 6: Concatenating DataFrames with different columns
   colA  colB  colC  colD
0     1     3     5     7
1     2     4     6     8

Example 7: Concatenating DataFrames with overlapping columns
   colA
0     1
1     2
0     5
1     6

Example 8: Merging with different key names
   employee_id Name  id  Salary
0            1    A   1     100
1            2    B   2     200

Example 9: Merging with duplicate keys
   colA colB colC
0     1    A    X
1     2    B    Y
2     2    C    Y

Example 10: Groupby on empty DataFrame
Empty DataFrame
Columns: [col2]
Index: []

Example 11: apply() with mixed return types
0    1
1    2
2    3
Name: col1, dtype: object

Example 12: pivot_table() with duplicate entries
colB    X    Y
colA
A     3.0  NaN
B     NaN  3.0

Example 13: sort_values() with NaN
   col1 col2
0   1.0    A
3   2.0    D
2   3.0    C
1   NaN    B

Example 14: sort_index() with non-standard index
   col1
A     2
C     1

Example 15: rename() with non-existent column
   col1
0     1
1     2

Example 16: drop() with non-existent column (errors='ignore')
   col1
0     1
1     2

Example 17: unique() with NaN
['A' 'B' nan]

Example 18: nunique() with NaN
3
2

Example 19: replace() with multiple values
0    X
1    Y
2    X
3    C
4    Y
Name: col1, dtype: object

Example 20: replace() with dictionary and regex
0    Letter1
1    Letter2
2    Letter3
Name: col1, dtype: object

In [ ]:

import pandas as pd
data={'name':['a','b','c','d'],'age':[2,3,4,5]}
df=pd.DataFrame(data)
print(df.rename(columns={'name[1]':'Ayesha'}))

  name  age
0    a    2
1    b    3
2    c    4
3    d    5

In [ ]:
import pandas as pd

data = {'name': ['a', 'b', 'c', 'd'], 'age': [2, 3, 4, 5]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Replace 'a' with 'Ayesha' in the 'name' column
df['name'] = df['name'].replace('a', 'Ayesha')

print("\nDataFrame after replacement:")
print(df)

Original DataFrame:
  name  age
0    a    2
1    b    3
2    c    4
3    d    5

DataFrame after replacement:
     name  age
0  Ayesha    2
1       b    3
2       c    4
3       d    5

In [ ]:
import pandas as pd
import numpy as np

# Generate employee data
data = {
    'Employee ID': range(1, 21),
    'Name': [f'Employee_{i}' for i in range(1, 21)],
    'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], 20),
    'Salary': np.random.randint(50000, 120000, 20),
    'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='M')),
    'Performance Score': np.random.uniform(70, 100, 20).round(2)
}

df_employees = pd.DataFrame(data)
display(df_employees)

/tmp/ipython-input-102179637.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='M')),

,Employee ID,Name,Department,Salary,Start Date,Performance Score
0,1,Employee_1,Engineering,71663,2020-01-31,81.84
1,2,Employee_2,Engineering,104856,2020-02-29,98.63
2,3,Employee_3,Sales,76476,2020-03-31,72.48
3,4,Employee_4,Engineering,65574,2020-04-30,93.23
4,5,Employee_5,Finance,102977,2020-05-31,80.61
5,6,Employee_6,Engineering,94183,2020-06-30,96.34
6,7,Employee_7,Finance,82996,2020-07-31,90.99
7,8,Employee_8,Marketing,111622,2020-08-31,84.09
8,9,Employee_9,Engineering,106725,2020-09-30,93.00
9,10,Employee_10,Engineering,62276,2020-10-31,92.75
10,11,Employee_11,Engineering,80585,2020-11-30,78.37
11,12,Employee_12,Sales,53623,2020-12-31,96.26
12,13,Employee_13,HR,101619,2021-01-31,84.47
13,14,Employee_14,Sales,70656,2021-02-28,73.46
14,15,Employee_15,Finance,84385,2021-03-31,96.55
15,16,Employee_16,Marketing,104982,2021-04-30,71.34
16,17,Employee_17,Marketing,93670,2021-05-31,82.24
17,18,Employee_18,HR,85810,2021-06-30,79.46
18,19,Employee_19,Sales,71893,2021-07-31,83.71
19,20,Employee_20,Sales,57620,2021-08-31,93.49

In [ ]:
import numpy as np

# Create new rows with some NaN values
new_data = {
    'Employee ID': [21, 22, 23],
    'Name': ['Employee_21', 'Employee_22', 'Employee_23'],
    'Department': [np.nan, 'Marketing', 'Sales'],
    'Salary': [75000, np.nan, 90000],
    'Start Date': [pd.to_datetime('2021-09-30'), pd.to_datetime('2021-10-31'), np.nan],
    'Performance Score': [np.nan, 88.5, 92.1]
}

df_new_employees = pd.DataFrame(new_data)

# Concatenate the new rows to the existing DataFrame
df_employees = pd.concat([df_employees, df_new_employees], ignore_index=True)

display(df_employees)

,Employee ID,Name,Department,Salary,Start Date,Performance Score
0,1,Employee_1,HR,107885.0,2020-01-31,73.29
1,2,Employee_2,Marketing,92835.0,2020-02-29,96.02
2,3,Employee_3,Engineering,119179.0,2020-03-31,82.69
3,4,Employee_4,HR,87801.0,2020-04-30,97.09
4,5,Employee_5,Sales,59000.0,2020-05-31,85.64
5,6,Employee_6,Finance,87500.0,2020-06-30,88.45
6,7,Employee_7,Finance,73044.0,2020-07-31,99.88
7,8,Employee_8,Sales,96328.0,2020-08-31,78.20
8,9,Employee_9,Sales,111927.0,2020-09-30,73.39
9,10,Employee_10,Sales,108712.0,2020-10-31,90.12
10,11,Employee_11,Engineering,95377.0,2020-11-30,94.26
11,12,Employee_12,Engineering,77683.0,2020-12-31,96.78
12,13,Employee_13,Finance,115534.0,2021-01-31,87.53
13,14,Employee_14,Sales,86179.0,2021-02-28,86.91
14,15,Employee_15,HR,106655.0,2021-03-31,77.12
15,16,Employee_16,Marketing,85936.0,2021-04-30,74.56
16,17,Employee_17,HR,107145.0,2021-05-31,89.55
17,18,Employee_18,Sales,87635.0,2021-06-30,91.98
18,19,Employee_19,HR,51812.0,2021-07-31,70.33
19,20,Employee_20,Finance,95337.0,2021-08-31,82.94
20,21,Employee_21,NaN,75000.0,2021-09-30,NaN
21,22,Employee_22,Marketing,NaN,2021-10-31,88.50
22,23,Employee_23,Sales,90000.0,NaT,92.10

In [ ]:
import numpy as np

a=[[[1,2,3,4,5,6],[11,12,13,14,15,16],[21,22,23,24,25,26]],
[[31,32,33,34,35,36],[41,42,43,44,45,46],[51,52,53,54,55,56]]]

# [1  2   3  4    5  6
# 11 12 13 14 15 16
# 21 22 23 24 25 26]

# [31 32 33 34 35 36

# 41 42 43 44 45 46

# 51 52 53 54 55 56]

a_np = np.array(a)

print("Sum along axis 0:")
print(a_np[0].sum(axis=0))
print("\nSum along axis 1:")
print(a_np[0].sum(axis=1))

print("\nSelected slice:")
print(a_np[0,1,:])

Sum along axis 0:
[33 36 39 42 45 48]

Sum along axis 1:
[ 21  81 141]

Selected slice:
[11 12 13 14 15 16]

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame
data = {'col1': [10, 20, 30, 40, 50],
        'col2': [60, 70, 80, 90, 100],
        'col3': ['A', 'B', 'C', 'D', 'E']}
df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4', 'row5'])

print("Original DataFrame:")
print(df)

# Example 1: Selecting a single row by label using .loc
print("\nExample 1: Select row 'row3' using .loc")
# Chain of Thought:
# 1. The user wants to select a single row based on its label.
# 2. The appropriate accessor for label-based indexing is .loc.
# 3. The label of the row is 'row3'.
# 4. We pass the label 'row3' to .loc.
print(df.loc['row3'])

# Example 2: Selecting multiple rows by label using .loc
print("\nExample 2: Select rows 'row1' and 'row4' using .loc")
# Chain of Thought:
# 1. The user wants to select multiple rows based on their labels.
# 2. Use .loc for label-based indexing.
# 3. Provide a list of labels ['row1', 'row4'] to .loc.
print(df.loc[['row1', 'row4']])

# Example 3: Selecting a single row by integer position using .iloc
print("\nExample 3: Select the row at index 2 (the third row) using .iloc")
# Chain of Thought:
# 1. The user wants to select a single row based on its integer position.
# 2. The appropriate accessor for integer-based indexing is .iloc.
# 3. The integer position of the third row is 2 (remember indexing starts from 0).
# 4. We pass the integer 2 to .iloc.
print(df.iloc[2])

# Example 4: Selecting multiple rows by integer position using .iloc
print("\nExample 4: Select rows at indices 0 and 3 (the first and fourth rows) using .iloc")
# Chain of Thought:
# 1. The user wants to select multiple rows based on their integer positions.
# 2. Use .iloc for integer-based indexing.
# 3. Provide a list of integer positions [0, 3] to .iloc.
print(df.iloc[[0, 3]])

# Example 5: Selecting a single column by label using .loc
print("\nExample 5: Select column 'col2' using .loc")
# Chain of Thought:
# 1. The user wants to select a single column based on its label.
# 2. Use .loc for label-based indexing.
# 3. To select a column, we use the syntax df.loc[:, 'column_label']. The colon signifies selecting all rows.
# 4. The label of the column is 'col2'.
print(df.loc[:, 'col2'])

# Example 6: Selecting multiple columns by label using .loc
print("\nExample 6: Select columns 'col1' and 'col3' using .loc")
# Chain of Thought:
# 1. The user wants to select multiple columns based on their labels.
# 2. Use .loc for label-based indexing.
# 3. Provide a list of column labels ['col1', 'col3'] after the comma.
print(df.loc[:, ['col1', 'col3']])

# Example 7: Selecting a single column by integer position using .iloc
print("\nExample 7: Select the column at index 1 (the second column) using .iloc")
# Chain of Thought:
# 1. The user wants to select a single column based on its integer position.
# 2. Use .iloc for integer-based indexing.
# 3. To select a column, we use the syntax df.iloc[:, column_integer_position]. The colon signifies selecting all rows.
# 4. The integer position of the second column is 1.
print(df.iloc[:, 1])

# Example 8: Selecting multiple columns by integer position using .iloc
print("\nExample 8: Select columns at indices 0 and 2 (the first and third columns) using .iloc")
# Chain of Thought:
# 1. The user wants to select multiple columns based on their integer positions.
# 2. Use .iloc for integer-based indexing.
# 3. Provide a list of integer positions [0, 2] after the comma.
print(df.iloc[:, [0, 2]])

# Example 9: Selecting a specific cell by row and column labels using .loc
print("\nExample 9: Select the cell at row 'row4' and column 'col2' using .loc")
# Chain of Thought:
# 1. The user wants to select a single value based on its row and column labels.
# 2. Use .loc for label-based indexing.
# 3. Provide the row label 'row4' before the comma and the column label 'col2' after the comma.
print(df.loc['row4', 'col2'])

# Example 10: Selecting a specific cell by row and column integer positions using .iloc
print("\nExample 10: Select the cell at row index 1 and column index 0 using .iloc")
# Chain of Thought:
# 1. The user wants to select a single value based on its row and column integer positions.
# 2. Use .iloc for integer-based indexing.
# 3. Provide the row integer position 1 before the comma and the column integer position 0 after the comma.
print(df.iloc[1, 0])

# Example 11: Slicing rows by label using .loc (inclusive of the end label)
print("\nExample 11: Slice rows from 'row2' to 'row4' (inclusive) using .loc")
# Chain of Thought:
# 1. The user wants to select a range of rows based on their labels.
# 2. Use .loc for label-based slicing.
# 3. Provide the start label 'row2' and the end label 'row4' separated by a colon. .loc slicing is inclusive of the end label.
print(df.loc['row2':'row4'])

# Example 12: Slicing rows by integer position using .iloc (exclusive of the end index)
print("\nExample 12: Slice rows from index 1 to 4 (exclusive of 4) using .iloc")
# Chain of Thought:
# 1. The user wants to select a range of rows based on their integer positions.
# 2. Use .iloc for integer-based slicing.
# 3. Provide the start index 1 and the end index 4 separated by a colon. .iloc slicing is exclusive of the end index.
print(df.iloc[1:4])

# Example 13: Slicing columns by label using .loc (inclusive of the end label)
print("\nExample 13: Slice columns from 'col1' to 'col3' (inclusive) using .loc")
# Chain of Thought:
# 1. The user wants to select a range of columns based on their labels.
# 2. Use .loc for label-based slicing.
# 3. Provide a colon for all rows, and then the start column label 'col1' and the end column label 'col3' separated by a colon. .loc slicing is inclusive of the end label.
print(df.loc[:, 'col1':'col3'])

# Example 14: Slicing columns by integer position using .iloc (exclusive of the end index)
print("\nExample 14: Slice columns from index 0 to 2 (exclusive of 2) using .iloc")
# Chain of Thought:
# 1. The user wants to select a range of columns based on their integer positions.
# 2. Use .iloc for integer-based slicing.
# 3. Provide a colon for all rows, and then the start column index 0 and the end column index 2 separated by a colon. .iloc slicing is exclusive of the end index.
print(df.iloc[:, 0:2])

# Example 15: Combining row and column slicing with .loc
print("\nExample 15: Select rows from 'row2' to 'row4' and columns from 'col1' to 'col3' using .loc")
# Chain of Thought:
# 1. The user wants to select a rectangular subset of the DataFrame based on row and column labels.
# 2. Use .loc for label-based selection.
# 3. Provide the row slice 'row2':'row4' before the comma and the column slice 'col1':'col3' after the comma.
print(df.loc['row2':'row4', 'col1':'col3'])

# Example 16: Combining row and column slicing with .iloc
print("\nExample 16: Select rows from index 1 to 4 and columns from index 0 to 2 using .iloc")
# Chain of Thought:
# 1. The user wants to select a rectangular subset of the DataFrame based on row and column integer positions.
# 2. Use .iloc for integer-based selection.
# 3. Provide the row slice 1:4 before the comma and the column slice 0:2 after the comma.
print(df.iloc[1:4, 0:2])

# Example 17: Using a boolean array for row selection with .loc
print("\nExample 17: Select rows where 'col1' is greater than 30 using a boolean array with .loc")
# Chain of Thought:
# 1. The user wants to filter rows based on a condition applied to a column.
# 2. A boolean array (or Series) can be used for row selection with .loc.
# 3. Create a boolean Series by comparing the 'col1' column with 30 (df['col1'] > 30).
# 4. Pass this boolean Series to .loc.
print(df.loc[df['col1'] > 30])

# Example 18: Using a boolean array for row selection with .iloc (requires index to match)
# Note: While possible, using boolean arrays with .iloc is less common and requires the boolean array's index to match the DataFrame's integer index.
print("\nExample 18: Select rows at indices 0, 2, and 4 using a boolean array with .iloc (requires matching index)")
# Chain of Thought:
# 1. The user wants to select rows based on a boolean condition using .iloc.
# 2. Create a boolean array with the same length as the DataFrame and with True at the desired integer positions.
# 3. Pass this boolean array to .iloc.
boolean_iloc = [True, False, True, False, True]
print(df.iloc[boolean_iloc])

# Example 19: Edge Case - Selecting a non-existent label with .loc (raises KeyError)
print("\nExample 19: Attempting to select a non-existent row label 'rowX' using .loc (will raise KeyError)")
# Chain of Thought:
# 1. The user is trying to access a row that does not exist using its label.
# 2. .loc will raise a KeyError if the label is not found in the index.
try:
    print(df.loc['rowX'])
except KeyError as e:
    print(f"Caught expected error: {e}")

# Example 20: Edge Case - Selecting an out-of-bounds integer position with .iloc (raises IndexError)
print("\nExample 20: Attempting to select a row at an out-of-bounds integer index 10 using .iloc (will raise IndexError)")
# Chain of Thought:
# 1. The user is trying to access a row using an integer position that is outside the valid range of indices.
# 2. .iloc will raise an IndexError if the integer position is out of bounds.
try:
    print(df.iloc[10])
except IndexError as e:
    print(f"Caught expected error: {e}")

Original DataFrame:
      col1  col2 col3
row1    10    60    A
row2    20    70    B
row3    30    80    C
row4    40    90    D
row5    50   100    E

Example 1: Select row 'row3' using .loc
col1    30
col2    80
col3     C
Name: row3, dtype: object

Example 2: Select rows 'row1' and 'row4' using .loc
      col1  col2 col3
row1    10    60    A
row4    40    90    D

Example 3: Select the row at index 2 (the third row) using .iloc
col1    30
col2    80
col3     C
Name: row3, dtype: object

Example 4: Select rows at indices 0 and 3 (the first and fourth rows) using .iloc
      col1  col2 col3
row1    10    60    A
row4    40    90    D

Example 5: Select column 'col2' using .loc
row1     60
row2     70
row3     80
row4     90
row5    100
Name: col2, dtype: int64

Example 6: Select columns 'col1' and 'col3' using .loc
      col1 col3
row1    10    A
row2    20    B
row3    30    C
row4    40    D
row5    50    E

Example 7: Select the column at index 1 (the second column) using .iloc
row1     60
row2     70
row3     80
row4     90
row5    100
Name: col2, dtype: int64

Example 8: Select columns at indices 0 and 2 (the first and third columns) using .iloc
      col1 col3
row1    10    A
row2    20    B
row3    30    C
row4    40    D
row5    50    E

Example 9: Select the cell at row 'row4' and column 'col2' using .loc
90

Example 10: Select the cell at row index 1 and column index 0 using .iloc
20

Example 11: Slice rows from 'row2' to 'row4' (inclusive) using .loc
      col1  col2 col3
row2    20    70    B
row3    30    80    C
row4    40    90    D

Example 12: Slice rows from index 1 to 4 (exclusive of 4) using .iloc
      col1  col2 col3
row2    20    70    B
row3    30    80    C
row4    40    90    D

Example 13: Slice columns from 'col1' to 'col3' (inclusive) using .loc
      col1  col2 col3
row1    10    60    A
row2    20    70    B
row3    30    80    C
row4    40    90    D
row5    50   100    E

Example 14: Slice columns from index 0 to 2 (exclusive of 2) using .iloc
      col1  col2
row1    10    60
row2    20    70
row3    30    80
row4    40    90
row5    50   100

Example 15: Select rows from 'row2' to 'row4' and columns from 'col1' to 'col3' using .loc
      col1  col2 col3
row2    20    70    B
row3    30    80    C
row4    40    90    D

Example 16: Select rows from index 1 to 4 and columns from index 0 to 2 using .iloc
      col1  col2
row2    20    70
row3    30    80
row4    40    90

Example 17: Select rows where 'col1' is greater than 30 using a boolean array with .loc
      col1  col2 col3
row4    40    90    D
row5    50   100    E

Example 18: Select rows at indices 0, 2, and 4 using a boolean array with .iloc (requires matching index)
      col1  col2 col3
row1    10    60    A
row3    30    80    C
row5    50   100    E

Example 19: Attempting to select a non-existent row label 'rowX' using .loc (will raise KeyError)
Caught expected error: 'rowX'

Example 20: Attempting to select a row at an out-of-bounds integer index 10 using .iloc (will raise IndexError)
Caught expected error: single positional indexer is out-of-bounds

In [ ]:
import pandas as pd
import numpy as np

# Recreate a sample df_employees DataFrame for demonstration purposes
data = {
    'Employee ID': range(1, 21),
    'Name': [f'Employee_{i}' for i in range(1, 21)],
    'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], 20),
    'Salary': np.random.randint(50000, 120000, 20),
    'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='ME')),


    'Performance Score': np.random.uniform(70, 100, 20).round(2)

}

t=pd.DataFrame(data)
print(t)
print(t[t['Department']=='Sales'])
print(t[(t['Department']=='Sales') & (t['Salary']>80000)])
t['Salary'].sum()
#
# df_employees = pd.DataFrame(data)
# print("Sample df_employees DataFrame:")
# display(df_employees.head())

# # How do you select a single column named 'Salary' from a DataFrame, returning a Series?
# print("\nSelecting single column 'Salary':")
# salary_series = df_employees['Salary']
# display(salary_series.head())

# # How do you select the 'Name' and 'Salary' columns, returning a DataFrame?
# print("\nSelecting 'Name' and 'Salary' columns:")
# name_salary_df = df_employees[['Name', 'Salary']]
# display(name_salary_df.head())

# # How do you filter for employees with a salary greater than 90,000?
# print("\nFiltering for employees with Salary > 90000:")
# high_salary_employees = df_employees[df_employees['Salary'] > 90000]
# display(high_salary_employees.head())

# # What is the fundamental difference between .loc[] and .iloc[]?
# print("\nFundamental difference between .loc[] and .iloc[]:")
# print(".loc[] is primarily label-based indexing. You use the actual row and column labels to select data.")
# print(".iloc[] is primarily integer-based indexing. You use the integer positions of rows and columns to select data.")
# print("\nExample using .loc[] (selecting row 'row1' and column 'col1' - assuming default index for demonstration):")
# # Note: This example assumes a default integer index for simplicity as df_employees has one.
# # If df_employees had a non-integer index, you would use those labels with .loc
# print(df_employees.loc[0, 'Employee ID']) # Example selecting the first employee ID using loc with default integer index

# print("\nExample using .iloc[] (selecting the first row and first column):")
# print(df_employees.iloc[0, 0])

    Employee ID         Name   Department  Salary Start Date  \
0             1   Employee_1        Sales   61700 2020-01-31
1             2   Employee_2        Sales   86343 2020-02-29
2             3   Employee_3      Finance  102708 2020-03-31
3             4   Employee_4    Marketing  105042 2020-04-30
4             5   Employee_5  Engineering   72570 2020-05-31
5             6   Employee_6           HR   53807 2020-06-30
6             7   Employee_7      Finance  115024 2020-07-31
7             8   Employee_8        Sales   57657 2020-08-31
8             9   Employee_9  Engineering   75167 2020-09-30
9            10  Employee_10           HR   76552 2020-10-31
10           11  Employee_11           HR  103663 2020-11-30
11           12  Employee_12           HR   54465 2020-12-31
12           13  Employee_13        Sales   50960 2021-01-31
13           14  Employee_14           HR   63470 2021-02-28
14           15  Employee_15      Finance   94557 2021-03-31
15           16  Employee_16           HR   77618 2021-04-30
16           17  Employee_17    Marketing  108009 2021-05-31
17           18  Employee_18           HR  102860 2021-06-30
18           19  Employee_19    Marketing  105537 2021-07-31
19           20  Employee_20    Marketing  118378 2021-08-31

    Performance Score
0               84.01
1               78.52
2               84.56
3               94.45
4               81.65
5               76.44
6               70.17
7               78.06
8               99.10
9               92.01
10              79.38
11              79.90
12              73.52
13              83.18
14              76.96
15              81.58
16              93.08
17              82.48
18              96.30
19              96.57
    Employee ID         Name Department  Salary Start Date  Performance Score
0             1   Employee_1      Sales   61700 2020-01-31              84.01
1             2   Employee_2      Sales   86343 2020-02-29              78.52
7             8   Employee_8      Sales   57657 2020-08-31              78.06
12           13  Employee_13      Sales   50960 2021-01-31              73.52
    Employee ID         Name Department  Salary Start Date  Performance Score
0             1   Employee_1      Sales   61700 2020-01-31              84.01
1             2   Employee_2      Sales   86343 2020-02-29              78.52
7             8   Employee_8      Sales   57657 2020-08-31              78.06
12           13  Employee_13      Sales   50960 2021-01-31              73.52

np.int64(20)

In [8]:
import pandas as pd
a=[1,2,3,4,5]
apd=pd.Series(a)
print(apd)
apd.mode()
apd.mean()
apd.median()
# apd.std()
# apd.var()
apd.describe()

0    1
1    2
2    3
3    4
4    5
dtype: int64

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64