In [20]:
#create a dataframe with day names as Index
import pandas as pd
import numpy as np
from datetime import date

dates = pd.date_range(date.today(), periods=7)
day_names = dates.day_name() # Get the day names from the date range
df = pd.DataFrame(np.random.randn(7, 7), index=day_names, columns=list('ABCDEFG'))
df

,A,B,C,D,E,F,G
Friday,2.243165,-1.028132,0.741075,0.489067,2.733868,0.888807,-1.764752
Saturday,1.543060,0.598735,-0.788882,-0.457600,-0.435132,-0.099785,-0.344296
Sunday,1.624459,-0.405596,-0.020807,1.046093,-1.523284,-2.264304,1.023360
Monday,-1.367397,0.414190,-0.455546,-0.416511,0.772758,-1.447567,0.053450
Tuesday,0.033215,1.147499,0.360727,-0.044316,-0.631512,-0.229558,-0.245055
Wednesday,-0.254733,-1.247956,0.405401,-0.229963,0.857053,-0.604647,1.652570
Thursday,1.692096,-0.213009,-0.069231,-1.246840,0.638575,0.178972,-1.106268

In [10]:
import pandas as pd
import numpy as np
from datetime import date

df=pd.DataFrame(np.random.randn(7,7),columns=['c1','c2','c3','c4','c5','c6','c7'])
df.sort_values(by='c1')
df

         c1        c2        c3        c4        c5        c6        c7
0  0.173767 -1.111822  1.747830 -0.489746  0.552619  0.539225 -1.657327
1 -2.263411 -0.818218  0.594547 -0.074171 -1.409846  0.357643  0.060769
2 -0.743720  1.994806 -1.537988  0.692311  0.446527 -0.541469 -0.590390
3 -0.963221  0.109466 -0.302504  0.104739  1.448992 -2.107360  0.020275
4  0.003551 -1.294901 -1.395535 -0.431862 -2.307949 -0.141827 -0.573903
5  0.386905  1.928634 -0.496557 -1.702057  0.417159  1.348436  0.431181
6 -0.209372 -0.926500  0.934546  0.286465  0.330703  0.444435  0.926474

In [10]:
import pandas as pd
import numpy as np
from datetime import date

df=pd.DataFrame(pd.read_csv('/content/titanic.csv'))
print(df)
df.columns
df.describe()
# df.dropna
df.drop('Unnamed: 15' ')

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  Unnamed: 15
0      man        True  NaN  Southampton    no  False          NaN
1    woman       False    C    Cherbourg   yes  False          NaN
2    woman       False  NaN  Southampton   yes   True          NaN
3    woman       False    C  Southampton   yes  False          NaN
4      man        True  NaN  Southampton    no   True          NaN
..     ...         ...  ...          ...   ...    ...          ...
886    man        True  NaN  Southampton    no   True          NaN
887  woman       False    B  Southampton   yes   True          NaN
888  woman       False  NaN  Southampton    no  False          NaN
889    man        True    C    Cherbourg   yes   True          NaN
890    man        True  NaN   Queenstown    no   True          NaN

[891 rows x 16 columns]
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone
0      man        True  NaN  Southampton    no  False
1    woman       False    C    Cherbourg   yes  False
2    woman       False  NaN  Southampton   yes   True
3    woman       False    C  Southampton   yes  False
4      man        True  NaN  Southampton    no   True
..     ...         ...  ...          ...   ...    ...
886    man        True  NaN  Southampton    no   True
887  woman       False    B  Southampton   yes   True
888  woman       False  NaN  Southampton    no  False
889    man        True    C    Cherbourg   yes   True
890    man        True  NaN   Queenstown    no   True

[891 rows x 15 columns]

In [48]:
import pandas as pd
import numpy as np
from datetime import date

# df = pd.DataFrame({'Name': ['Alice', 'Bob', 'Aritra'],
#                     'Age': [25, 30, 35],
#                     'Location': ['Seattle', 'New York', 'Kona']},
#                   index=pd.date_range(date.today(),periods=3))
# df.index
# print(df)
# index([10, 20, 30], dtype='int64')

#
# data={'Name': ['Alice', 'Bob', 'Aritra'],
# #                     'Age': [25, 30, 35],
# #                     'Location': ['Seattle', 'New York', 'Kona']},
# #                   index=pd.date_range(dayname,periods=3)
data={
    'name':['Akhil','Ayesha','Madan','Kalyani'],
    'age':[20,22,24,25],
    'location':['New York','Washington','Varginia','California'],
}

# Generate a date range to get day names for the index
dates = pd.date_range(date.today(), periods=len(data['name']))
day_names = dates.day_name()

df = pd.DataFrame(data, index=day_names)
print(df)
print(df.index)
print(df.columns)
print(df.describe())
print(df.info)
print(df.head())
print(df.tail())

             name  age    location
Friday      Akhil   20    New York
Saturday   Ayesha   22  Washington
Sunday      Madan   24    Varginia
Monday    Kalyani   25  California
Index(['Friday', 'Saturday', 'Sunday', 'Monday'], dtype='object')
Index(['name', 'age', 'location'], dtype='object')
             age
count   4.000000
mean   22.750000
std     2.217356
min    20.000000
25%    21.500000
50%    23.000000
75%    24.250000
max    25.000000
<bound method DataFrame.info of              name  age    location
Friday      Akhil   20    New York
Saturday   Ayesha   22  Washington
Sunday      Madan   24    Varginia
Monday    Kalyani   25  California>
             name  age    location
Friday      Akhil   20    New York
Saturday   Ayesha   22  Washington
Sunday      Madan   24    Varginia
Monday    Kalyani   25  California
             name  age    location
Friday      Akhil   20    New York
Saturday   Ayesha   22  Washington
Sunday      Madan   24    Varginia
Monday    Kalyani   25  California

In [41]:
import pandas as pd
import numpy as np

# Define a list of day names
day_names_list = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

# Create a DataFrame with day names as the index
# Ensure the number of rows matches the number of day names
data = np.random.randn(len(day_names_list), 3) # Example data with 3 columns
df_with_day_index = pd.DataFrame(data, index=day_names_list, columns=['A', 'B', 'C'])

print(df_with_day_index)

                  A         B         C
Sunday    -0.205406 -0.814082 -0.518964
Monday     1.174437 -1.538831 -0.131107
Tuesday   -1.670590 -0.024306 -0.245136
Wednesday -0.292219  0.229182 -2.775473
Thursday  -1.218190  0.741227  0.693080
Friday    -0.649758  0.272000 -0.545638
Saturday  -0.263570  0.110021 -0.595422

In [15]:
# Get the day names directly from the index using the .day_name() method
day_names_from_method = df.index.day_name()

# Print the day names
print(day_names_from_method)

Index(['Thursday', 'Friday', 'Saturday'], dtype='object')

In [14]:
# Get the day names from the index
day_names = df.index.day_name()

# Print the day names
print(day_names)

Index(['Thursday', 'Friday', 'Saturday'], dtype='object')

In [63]:
from os import read
import pandas as pd
import numpy as np
df=pd.DataFrame(pd.read_csv('/content/titanic.csv'))
print(df)
df.columns
df.describe()
df.dropna
df.drop('Unnamed: 15', axis=1)
# df.dropna
# df.drop('Unnamed: 15' ')
df['sex']='male'
print(df['sex']=='male')

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone  Unnamed: 15
0      man        True  NaN  Southampton    no  False          NaN
1    woman       False    C    Cherbourg   yes  False          NaN
2    woman       False  NaN  Southampton   yes   True          NaN
3    woman       False    C  Southampton   yes  False          NaN
4      man        True  NaN  Southampton    no   True          NaN
..     ...         ...  ...          ...   ...    ...          ...
886    man        True  NaN  Southampton    no   True          NaN
887  woman       False    B  Southampton   yes   True          NaN
888  woman       False  NaN  Southampton    no  False          NaN
889    man        True    C    Cherbourg   yes   True          NaN
890    man        True  NaN   Queenstown    no   True          NaN

[891 rows x 16 columns]
0      True
1      True
2      True
3      True
4      True
       ...
886    True
887    True
888    True
889    True
890    True
Name: sex, Length: 891, dtype: bool

In [76]:
# Filter the DataFrame to get rows where 'sex' is 'male'
# # male_records = df[df['sex'] == 'male']
# selecttown=df[df['embark_town']=='Southampton']
# display(selecttown)
whodata=df[df['who']=='woman']
display(whodata)

# Display the filtered DataFrame
# display(male_records)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
1,1,1,male,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,male,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
3,1,1,male,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
8,1,3,male,27.0,0,2,11.1333,S,Third,woman,False,NaN,Southampton,yes,False,NaN
11,1,1,male,58.0,0,0,26.5500,S,First,woman,False,C,Southampton,yes,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,1,2,male,25.0,0,1,26.0000,S,Second,woman,False,NaN,Southampton,yes,False,NaN
882,0,3,male,22.0,0,0,10.5167,S,Third,woman,False,NaN,Southampton,no,True,NaN
885,0,3,male,39.0,0,5,29.1250,Q,Third,woman,False,NaN,Queenstown,no,False,NaN
887,1,1,male,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,NaN
888,0,3,male,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN

In [54]:
# Drop the 'Unnamed: 15' column
# axis=1 indicates that we are dropping a column
# inplace=True modifies the DataFrame directly
df.drop('Unnamed: 15', axis=1, inplace=True)

# Display the updated DataFrame to confirm the column is dropped
display(df.head())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True