## Pandas

## What is Pandas?

1. pandas is a fast, powerful,open-source **python Library** used for **Data Manipulations and Analysis**
2. It Provides easy-to-use Data Structures like
    - Series (1-Dimensional labeled array)
    - DataFrame( 2 -Dimensional labeled Data Table, like Excel,CSV files)

## Why to use Pandas?
1. Read and write data from different file formats (CSV,Excel,JSON,etc)
2. Clean and prepare messy datasets
3. Perform Filtering, Grouping, merging and reshaping operations with simple conditions
4. Handle Missing Values ,duplicates, and large datasets effectively

## Advantages of pandas
1. User Friendly
2. Handles large data
3. Data Cleaning
4. Integration - works well with numpy, matplotlib,scikit-learn, tensorflow,etc
5. Powerful Data Operations - Filtering, Grouping, Joining, Merging, Pivoting, and Time Series analysis
6. Speed & Performance - Optimized for performance using C
7. Visualization Support - Can quickly plot graphs using .plot() with matplotlib

### Importing Pandas librabry

In [ ]:
import pandas as pd

In [ ]:
print(pd.__version__)

2.2.2

In [ ]:
pd.__version__

'2.2.2'

### Series

In [ ]:
S = pd.Series([12,56,78,90,34,54,31])

In [ ]:
S

0    12
1    56
2    78
3    90
4    34
5    54
6    31
dtype: int64

In [ ]:
L = [100,200,300,400,500,600]
S1 = pd.Series(L)

In [ ]:
S1

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64

In [ ]:
S1.dtype

dtype('int64')

In [ ]:
type(S1)

pandas.core.series.Series

In [1]:
S1.index

NameError: name 'S1' is not defined

In [ ]:
a = 10
type(a)

int

In [ ]:
type(S1)

pandas.core.series.Series

In [ ]:
#MODIFY index

S1.index = ['a','b','c','d','e','f']

In [ ]:
S1

a    100
b    200
c    300
d    400
e    500
f    600
dtype: int64

In [ ]:
S = pd.Series([78,89,99,93,85,75],index=['Satya','Shiva','Jith','Pavan','Rakesh','Praveen'])

In [ ]:
S

Satya      78
Shiva      89
Jith       99
Pavan      93
Rakesh     85
Praveen    75
dtype: int64

In [ ]:
#create a series with 10 random numbers and index starts from 1 and ends at 10

In [ ]:
import numpy as np
N = np.random.random(10)

In [ ]:
I = np.arange(1,11)

In [ ]:
N

array([0.36696623, 0.41740402, 0.73398668, 0.82024573, 0.29892428,
       0.41713972, 0.92293238, 0.84031256, 0.30447622, 0.83375539])

In [ ]:
I

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
S2 = pd.Series(N,I)
S2

1     0.366966
2     0.417404
3     0.733987
4     0.820246
5     0.298924
6     0.417140
7     0.922932
8     0.840313
9     0.304476
10    0.833755
dtype: float64

## Accessing Series Elements using Index

In [ ]:
S

Satya      78
Shiva      89
Jith       99
Pavan      93
Rakesh     85
Praveen    75
dtype: int64

In [ ]:
S[:] # all items of a series

Satya      78
Shiva      89
Jith       99
Pavan      93
Rakesh     85
Praveen    75
dtype: int64

In [ ]:
S['Satya']

78

In [ ]:
S['Shiva']

89

In [ ]:
S['Pavan']

93

In [ ]:
S[0:1]

Satya    78
dtype: int64

In [ ]:
S

Satya      78
Shiva      89
Jith       99
Pavan      93
Rakesh     85
Praveen    75
dtype: int64

In [ ]:
S[0:3]

Satya    78
Shiva    89
Jith     99
dtype: int64

In [ ]:
S[::-1] # items in reverse order

Praveen    75
Rakesh     85
Pavan      93
Jith       99
Shiva      89
Satya      78
dtype: int64

In [ ]:
S[-1:]

Praveen    75
dtype: int64

## Operations on Series Data

In [ ]:
S

Satya      78
Shiva      89
Jith       99
Pavan      93
Rakesh     85
Praveen    75
dtype: int64

In [ ]:
S.mean() # average or mean of series

86.5

In [ ]:
np.median(S) # median of a series

87.0

In [ ]:
S.median() # median usimng pandas

87.0

In [ ]:
S.sum() # sum of all elements in a series

519

In [ ]:
S.min() # min value in a series

75

In [ ]:
S.max() # max value in a series

99

In [ ]:
S.argmax() # index of maximum value

2

In [ ]:
S.argmin() # index of min value

5

### Addition of Two Series

In [ ]:
S1 = pd.Series([10,20,30,40,50,60])
S2 = pd.Series([1,2,3,4,5,6])

In [ ]:
S1.add(S2) # addition

0    11
1    22
2    33
3    44
4    55
5    66
dtype: int64

In [ ]:
S1.sub(S2) # subtraction

0     9
1    18
2    27
3    36
4    45
5    54
dtype: int64

In [ ]:
x = pd.Series([1,2,3])
y = pd.Series([3,4])

x.add(y)

0    4.0
1    6.0
2    NaN
dtype: float64

In [ ]:
S1,S2

(0    10
 1    20
 2    30
 3    40
 4    50
 5    60
 dtype: int64,
 0    1
 1    2
 2    3
 3    4
 4    5
 5    6
 dtype: int64)

In [ ]:
S1.mul(S2) # multiplication

0     10
1     40
2     90
3    160
4    250
5    360
dtype: int64

In [ ]:
S1.divide(S2)

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5    10.0
dtype: float64

In [ ]:
S1.div(S2)

0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
5    10.0
dtype: float64

In [ ]:
S1

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [ ]:
S3 = pd.Series([45,78,12,34,10,56,35,78,32])

In [ ]:
S3

0    45
1    78
2    12
3    34
4    10
5    56
6    35
7    78
8    32
dtype: int64

In [ ]:
S3.sort_values()

4    10
2    12
8    32
3    34
6    35
0    45
5    56
1    78
7    78
dtype: int64

In [ ]:
S3.sort_values(ascending=False)

1    78
7    78
5    56
0    45
6    35
3    34
8    32
2    12
4    10
dtype: int64

In [ ]:
S3.sort_values(ignore_index=True)

0    10
1    12
2    32
3    34
4    35
5    45
6    56
7    78
8    78
dtype: int64

In [ ]:
S3.sort_values(ascending=False,ignore_index=True)

0    78
1    78
2    56
3    45
4    35
5    34
6    32
7    12
8    10
dtype: int64

In [ ]:
S3.sort_values(ascending=False,ignore_index=True,inplace=True)

In [ ]:
S3

0    78
1    78
2    56
3    45
4    35
5    34
6    32
7    12
8    10
dtype: int64

In [ ]:
S3

0    78
1    78
2    56
3    45
4    35
5    34
6    32
7    12
8    10
dtype: int64

In [ ]:
S3.sort_values(ignore_index=True,inplace=True)

In [ ]:
S3

0    10
1    12
2    32
3    34
4    35
5    45
6    56
7    78
8    78
dtype: int64

In [ ]:
S = pd.Series([34,67,12,36,89,11,84,45])

In [ ]:
S

0    34
1    67
2    12
3    36
4    89
5    11
6    84
7    45
dtype: int64

In [ ]:
S.sort_values()

5    11
2    12
0    34
3    36
7    45
1    67
6    84
4    89
dtype: int64

In [ ]:
S.sort_values(ignore_index=True,inplace=True)

In [ ]:
S

0    11
1    12
2    34
3    36
4    45
5    67
6    84
7    89
dtype: int64

In [ ]:
S2 = pd.Series([2,2,2,3,3,4,5,5,6,7,8,9,1,2,3,4,5,6,7,89,1,2,3,4,5,6])

In [ ]:
S2.value_counts()

2     5
3     4
5     4
4     3
6     3
7     2
1     2
8     1
9     1
89    1
Name: count, dtype: int64

## DataFrame

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#creating a DataFrame

df = pd.DataFrame()

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
df = pd.DataFrame(['java','C++','C','Python'])

In [ ]:
df

        0
0    java
1     C++
2       C
3  Python

In [ ]:
df[1] = [1,2,4,3]

In [ ]:
df

        0  1
0    java  1
1     C++  2
2       C  4
3  Python  3

In [ ]:
df.columns = ['Language','Rating']

In [ ]:
df

  Language  Rating
0     java       1
1      C++       2
2        C       4
3   Python       3

In [ ]:
#create a Dataframe with 3 columns [ Name, Total Marks, Percentage]. Add details of 5
#students into the dataframe

In [ ]:
D = {'Name':['Rahul','Rakesh','Rajesh','Ravi','Raj'],
    'Total Marks':[89,98,56,69,90],
    'Percentage':['89%','98%','56%','69%','90%']}

In [ ]:
df1 = pd.DataFrame(D)

In [ ]:
df1

     Name  Total Marks Percentage
0   Rahul           89        89%
1  Rakesh           98        98%
2  Rajesh           56        56%
3    Ravi           69        69%
4     Raj           90        90%

In [ ]:
df2 = pd.DataFrame({'Names':['Steve','Robert','Mick','Jones'],
                   'YOP':[2004,2006,2005,2000],
                   'Qualification':['Graduate','PG','Graduate','PG'],
                   'Total Marks':[1000,1000,1000,1000],
                   'Secured':[897,789,990,578]})

In [ ]:
df2

    Names   YOP Qualification  Total Marks  Secured
0   Steve  2004      Graduate         1000      897
1  Robert  2006            PG         1000      789
2    Mick  2005      Graduate         1000      990
3   Jones  2000            PG         1000      578

In [ ]:
df2['Names']

0     Steve
1    Robert
2      Mick
3     Jones
Name: Names, dtype: object

In [ ]:
df2['Secured']

0    897
1    789
2    990
3    578
Name: Secured, dtype: int64

In [ ]:
df2['Secured'].mean()

813.5

In [ ]:
df2['Secured'].median()

843.0

### Accessing DataFrame items by index

In [ ]:
df2

    Names   YOP Qualification  Total Marks  Secured
0   Steve  2004      Graduate         1000      897
1  Robert  2006            PG         1000      789
2    Mick  2005      Graduate         1000      990
3   Jones  2000            PG         1000      578

In [ ]:
df2.iloc[0]

Names               Steve
YOP                  2004
Qualification    Graduate
Total Marks          1000
Secured               897
Name: 0, dtype: object

In [ ]:
df2.iloc[3]

Names            Jones
YOP               2000
Qualification       PG
Total Marks       1000
Secured            578
Name: 3, dtype: object

In [ ]:
df2.iloc[0:2]

    Names   YOP Qualification  Total Marks  Secured
0   Steve  2004      Graduate         1000      897
1  Robert  2006            PG         1000      789

In [ ]:
df2.iloc[0:3]

    Names   YOP Qualification  Total Marks  Secured
0   Steve  2004      Graduate         1000      897
1  Robert  2006            PG         1000      789
2    Mick  2005      Graduate         1000      990

#### Accessing DataFrame Items by row labels (or) location

In [ ]:
df2

    Names   YOP Qualification  Total Marks  Secured
0   Steve  2004      Graduate         1000      897
1  Robert  2006            PG         1000      789
2    Mick  2005      Graduate         1000      990
3   Jones  2000            PG         1000      578

In [ ]:
df2.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
df2.index = ['a','b','c','d']

In [ ]:
df2

    Names   YOP Qualification  Total Marks  Secured
a   Steve  2004      Graduate         1000      897
b  Robert  2006            PG         1000      789
c    Mick  2005      Graduate         1000      990
d   Jones  2000            PG         1000      578

In [ ]:
df2.loc['a']

Names               Steve
YOP                  2004
Qualification    Graduate
Total Marks          1000
Secured               897
Name: a, dtype: object

In [ ]:
df2.loc['c']

Names                Mick
YOP                  2005
Qualification    Graduate
Total Marks          1000
Secured               990
Name: c, dtype: object

In [ ]:
df2.loc['a':'c']

    Names   YOP Qualification  Total Marks  Secured
a   Steve  2004      Graduate         1000      897
b  Robert  2006            PG         1000      789
c    Mick  2005      Graduate         1000      990

In [ ]:
df2

    Names   YOP Qualification  Total Marks  Secured
a   Steve  2004      Graduate         1000      897
b  Robert  2006            PG         1000      789
c    Mick  2005      Graduate         1000      990
d   Jones  2000            PG         1000      578

In [ ]:
df2[['YOP','Secured']]

    YOP  Secured
a  2004      897
b  2006      789
c  2005      990
d  2000      578

In [ ]:
df2.sort_values(by='Secured',ascending=False,ignore_index=True)

    Names   YOP Qualification  Total Marks  Secured
0    Mick  2005      Graduate         1000      990
1   Steve  2004      Graduate         1000      897
2  Robert  2006            PG         1000      789
3   Jones  2000            PG         1000      578

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
M = np.random.random((7,7))

In [ ]:
M

array([[0.85929438, 0.24570012, 0.28786632, 0.70858711, 0.09146163,
        0.12026194, 0.19247188],
       [0.72908191, 0.25815336, 0.27956367, 0.11175788, 0.29280495,
        0.70279108, 0.09814033],
       [0.55669703, 0.82231415, 0.71742088, 0.89572405, 0.08710616,
        0.61170647, 0.92593292],
       [0.04706151, 0.02264947, 0.31353089, 0.6373893 , 0.3192006 ,
        0.05162618, 0.29344769],
       [0.02525721, 0.79313237, 0.89197289, 0.95178284, 0.96289962,
        0.08994685, 0.35360644],
       [0.30830544, 0.09563856, 0.79169614, 0.36826524, 0.15035041,
        0.58563055, 0.75964083],
       [0.81903266, 0.6720625 , 0.19889288, 0.98692569, 0.26924879,
        0.38450837, 0.97040859]])

In [ ]:
#creating a range of dates

In [ ]:
dates = pd.date_range(start='2025-08-21',periods=7)

In [ ]:
dates

DatetimeIndex(['2025-08-21', '2025-08-22', '2025-08-23', '2025-08-24',
               '2025-08-25', '2025-08-26', '2025-08-27'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df3 = pd.DataFrame(M,index=dates)

In [ ]:
df3

,0,1,2,3,4,5,6
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606
2025-08-26,0.308305,0.095639,0.791696,0.368265,0.150350,0.585631,0.759641
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409

In [ ]:
dates = pd.date_range('today',periods=7)

In [ ]:
dates

DatetimeIndex(['2025-08-21 09:49:12.270128', '2025-08-22 09:49:12.270128',
               '2025-08-23 09:49:12.270128', '2025-08-24 09:49:12.270128',
               '2025-08-25 09:49:12.270128', '2025-08-26 09:49:12.270128',
               '2025-08-27 09:49:12.270128'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
dates = pd.date_range(start = '21-08-2025',end='27-08-2025')

In [ ]:
dates

DatetimeIndex(['2025-08-21', '2025-08-22', '2025-08-23', '2025-08-24',
               '2025-08-25', '2025-08-26', '2025-08-27'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df3

,0,1,2,3,4,5,6
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606
2025-08-26,0.308305,0.095639,0.791696,0.368265,0.150350,0.585631,0.759641
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 7 entries, 2025-08-21 to 2025-08-27
Freq: D
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7 non-null      float64
 1   1       7 non-null      float64
 2   2       7 non-null      float64
 3   3       7 non-null      float64
 4   4       7 non-null      float64
 5   5       7 non-null      float64
 6   6       7 non-null      float64
dtypes: float64(7)
memory usage: 448.0 bytes

In [ ]:
# change column names

In [ ]:
df3

,0,1,2,3,4,5,6
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606
2025-08-26,0.308305,0.095639,0.791696,0.368265,0.150350,0.585631,0.759641
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409

In [ ]:
df3.columns = ['C1','C2','C3','C4','C5','C6','C7']

In [ ]:
df3

,C1,C2,C3,C4,C5,C6,C7
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606
2025-08-26,0.308305,0.095639,0.791696,0.368265,0.150350,0.585631,0.759641
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409

In [ ]:
df3.columns

Index(['C1', 'C2', 'C3', 'C4', 'C5', 'C6', 'C7'], dtype='object')

In [ ]:
df3.index

DatetimeIndex(['2025-08-21', '2025-08-22', '2025-08-23', '2025-08-24',
               '2025-08-25', '2025-08-26', '2025-08-27'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df3.dtypes

C1    float64
C2    float64
C3    float64
C4    float64
C5    float64
C6    float64
C7    float64
dtype: object

In [ ]:
#sort a data frame by column C1 in ascending order

In [ ]:
df3.sort_values(by='C1')

,C1,C2,C3,C4,C5,C6,C7
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-26,0.308305,0.095639,0.791696,0.368265,0.150350,0.585631,0.759641
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472

In [ ]:
# sort dataframe by column c1 in descending order

In [ ]:
df3.sort_values(by='C1',ascending=False)

,C1,C2,C3,C4,C5,C6,C7
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-26,0.308305,0.095639,0.791696,0.368265,0.150350,0.585631,0.759641
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606

In [ ]:
# data selection based on row labels

In [ ]:
df3

,C1,C2,C3,C4,C5,C6,C7
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606
2025-08-26,0.308305,0.095639,0.791696,0.368265,0.150350,0.585631,0.759641
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409

In [ ]:
df3.loc['2025-08-22':'2025-08-25']

,C1,C2,C3,C4,C5,C6,C7
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606

In [ ]:
#selecting all rows & selected columns only

In [ ]:
df3.loc[:,['C3','C6']]

                  C3        C6
2025-08-21  0.287866  0.120262
2025-08-22  0.279564  0.702791
2025-08-23  0.717421  0.611706
2025-08-24  0.313531  0.051626
2025-08-25  0.891973  0.089947
2025-08-26  0.791696  0.585631
2025-08-27  0.198893  0.384508

In [ ]:
df3.iloc[1]

C1    0.729082
C2    0.258153
C3    0.279564
C4    0.111758
C5    0.292805
C6    0.702791
C7    0.098140
Name: 2025-08-22 00:00:00, dtype: float64

In [ ]:
# row and column label based selection

In [ ]:
df3

,C1,C2,C3,C4,C5,C6,C7
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-24,0.047062,0.022649,0.313531,0.637389,0.319201,0.051626,0.293448
2025-08-25,0.025257,0.793132,0.891973,0.951783,0.962900,0.089947,0.353606
2025-08-26,0.308305,0.095639,0.791696,0.368265,0.150350,0.585631,0.759641
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409

In [ ]:
df3.loc['2025-08-22':'2025-08-26',['C4','C5']]

                  C4        C5
2025-08-22  0.111758  0.292805
2025-08-23  0.895724  0.087106
2025-08-24  0.637389  0.319201
2025-08-25  0.951783  0.962900
2025-08-26  0.368265  0.150350

In [ ]:
# data selection based on condition

In [ ]:
# return values greater than 0.5 in C1

In [ ]:
df3[df3['C1']>0.5]

,C1,C2,C3,C4,C5,C6,C7
2025-08-21,0.859294,0.245700,0.287866,0.708587,0.091462,0.120262,0.192472
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933
2025-08-27,0.819033,0.672062,0.198893,0.986926,0.269249,0.384508,0.970409

In [ ]:
# return values greater than 0.5 in C1 and C6

In [ ]:
df3[(df3['C1']>0.5) & (df3['C6']>0.5)]

,C1,C2,C3,C4,C5,C6,C7
2025-08-22,0.729082,0.258153,0.279564,0.111758,0.292805,0.702791,0.098140
2025-08-23,0.556697,0.822314,0.717421,0.895724,0.087106,0.611706,0.925933

In [ ]:
# select all rows and first 3 columns (use iloc)

In [ ]:
df3.iloc[:,0:3]

                  C1        C2        C3
2025-08-21  0.859294  0.245700  0.287866
2025-08-22  0.729082  0.258153  0.279564
2025-08-23  0.556697  0.822314  0.717421
2025-08-24  0.047062  0.022649  0.313531
2025-08-25  0.025257  0.793132  0.891973
2025-08-26  0.308305  0.095639  0.791696
2025-08-27  0.819033  0.672062  0.198893

In [ ]:
# reading data frame

dframe = pd.read_csv('iris.csv')

In [ ]:
dframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [ ]:
dframe.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [ ]:
dframe.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [ ]:
#print first 5 rows in a dataframe

In [ ]:
dframe.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
dframe.head(7)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

In [ ]:
#last 5 rows
dframe.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
dframe.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [ ]:
dframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
dframe = pd.read_csv('iris.csv')

In [ ]:
dframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
dframe.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [ ]:
# return all the values which are greater than 5 in sepal_length column

In [ ]:
dframe[dframe['sepal_length'] > 5]

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[118 rows x 5 columns]

In [ ]:
#access sepal length and petal length columns in dframe

In [ ]:
dframe[['sepal_length','petal_length']]

     sepal_length  petal_length
0             5.1           1.4
1             4.9           1.4
2             4.7           1.3
3             4.6           1.5
4             5.0           1.4
..            ...           ...
145           6.7           5.2
146           6.3           5.0
147           6.5           5.2
148           6.2           5.4
149           5.9           5.1

[150 rows x 2 columns]

### Value_counts( )
- **value_counts()** is Method in Pandas used on **Series**( a single column in a DataFrame)
- It returns the **count of unique values** in that column, sorted by default in descending order

Syntax:

Series.value_counts(normalize=False,sort=True,ascending=False,bins=None,dropna=True)

1. Normalize = True - Returns relative frequencies
2. Sort = False - Returns count without sorting
3. Dropna = False - include NaN values in the count
4. bins - groups continous values into intervals

In [ ]:
df = pd.DataFrame({'Fruits':['Apple','Banana','Apple','Mango','Apple','Apple','Mango','Banana','Apple','Mango'],
                  'Numbers':[1,3,4,1,2,3,4,5,1,3],
                  'Grades':['A','A','B','C','A','B','A','C','A','C']})

In [ ]:
df

   Fruits  Numbers Grades
0   Apple        1      A
1  Banana        3      A
2   Apple        4      B
3   Mango        1      C
4   Apple        2      A
5   Apple        3      B
6   Mango        4      A
7  Banana        5      C
8   Apple        1      A
9   Mango        3      C

In [ ]:
df['Fruits'].value_counts()

Fruits
Apple     5
Mango     3
Banana    2
Name: count, dtype: int64

#### Get percentages instead of counts

In [ ]:
df['Fruits'].value_counts(normalize=True)

Fruits
Apple     0.5
Mango     0.3
Banana    0.2
Name: proportion, dtype: float64

#### include NaN values

In [ ]:
df_with_nan = pd.Series(['A','B','A',None,'B',None,'A','B','C','B'])

In [ ]:
df_with_nan

0       A
1       B
2       A
3    None
4       B
5    None
6       A
7       B
8       C
9       B
dtype: object

In [ ]:
df_with_nan.value_counts(dropna=False)

B       4
A       3
None    2
C       1
Name: count, dtype: int64

In [ ]:
df_with_nan.value_counts()

B    4
A    3
C    1
Name: count, dtype: int64

#### Sorting in Acending Order

In [ ]:
df['Grades'].value_counts(ascending=True)

Grades
B    2
C    3
A    5
Name: count, dtype: int64

#### Binning continuous Values

In [ ]:
df['Numbers']

0    1
1    3
2    4
3    1
4    2
5    3
6    4
7    5
8    1
9    3
Name: Numbers, dtype: int64

In [ ]:
df['Numbers'].value_counts(bins=3)

(0.995, 2.333]    4
(2.333, 3.667]    3
(3.667, 5.0]      3
Name: count, dtype: int64

value_counts() is one of the most powerful Quick analysis tool in pandas to explore categorical data or even numeric Distribution

In [ ]:
dframe

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
dframe['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [ ]:
dframe['species'].value_counts(normalize=True)

species
setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: proportion, dtype: float64

In [ ]:

dframe['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [ ]:
df1 = pd.read_csv('titanic.csv')

In [ ]:
df1

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True,NaN
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True,NaN
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False,NaN
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True,NaN
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True,NaN

In [ ]:
df1.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone', 'Unnamed: 15'],
      dtype='object')

### drop( )
- The **drop()** Method is used to remove **rows or Columns** from Data Frame
- It Does not change the DataFrame by default unless you use **inplace = True**

In [ ]:
df1.drop('Unnamed: 15',axis=1) # axis = 1 ---> columns

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df1.drop('Unnamed: 15',axis=1,inplace=True)

In [ ]:
df1

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    object
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    object
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

In [ ]:
df1.isna().sum() # sum of null values in each column

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [ ]:
df1.drop('deck',axis=1,inplace=True)

In [ ]:
df1.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
embark_town      2
alive            0
alone            0
dtype: int64