In [14]:
Customer_Data={'Customer_ID':[1,2,3,4,5],'Customer_Name':['Sahasra','Sharan','Satwik','Akhil','Prathyu'],
                 'Product':['Laptop','Iphone','Iwatch','Ipod','Mac-Book'],'Level':['Gold','Gold','Silver','Bronze','Platnium'],
                 'Quantity':[5,3,7,9,2],'Price':[500,800,300,150,2000]}
import pandas as pd
df=pd.DataFrame(Customer_Data)
print(df)
from pyspark.sql import DataFrame
from pyspark.sql.functions import col
from pyspark.sql import SparkSession

# Initialize SparkSession
spark=SparkSession.builder.appName("Customer_Data").getOrCreate()

Input_data=spark.createDataFrame(df)
filterd_Data=Input_data.filter(col("Level") == 'Gold')
filterd_Data.show()
Input_data.show()

   Customer_ID Customer_Name   Product     Level  Quantity  Price
0            1       Sahasra    Laptop      Gold         5    500
1            2        Sharan    Iphone      Gold         3    800
2            3        Satwik    Iwatch    Silver         7    300
3            4         Akhil      Ipod    Bronze         9    150
4            5       Prathyu  Mac-Book  Platnium         2   2000
+-----------+-------------+-------+-----+--------+-----+
|Customer_ID|Customer_Name|Product|Level|Quantity|Price|
+-----------+-------------+-------+-----+--------+-----+
|          1|      Sahasra| Laptop| Gold|       5|  500|
|          2|       Sharan| Iphone| Gold|       3|  800|
+-----------+-------------+-------+-----+--------+-----+

+-----------+-------------+--------+--------+--------+-----+
|Customer_ID|Customer_Name| Product|   Level|Quantity|Price|
+-----------+-------------+--------+--------+--------+-----+
|          1|      Sahasra|  Laptop|    Gold|       5|  500|
|          2|       Sharan|  Iphone|    Gold|       3|  800|
|          3|       Satwik|  Iwatch|  Silver|       7|  300|
|          4|        Akhil|    Ipod|  Bronze|       9|  150|
|          5|      Prathyu|Mac-Book|Platnium|       2| 2000|
+-----------+-------------+--------+--------+--------+-----+

In [16]:
order_data = [
    (1001, 1, "2025-10-20", 750.50),
    (1002, 3, "2025-10-20", 120.00),
    (1003, 1, "2025-10-21", 45.99),
    (1004, 2, "2025-10-21", 980.75),
    (1005, 3, "2025-10-22", 250.00)
]
columns = ["OrderID", "CustomerID", "OrderDate", "TotalAmount"]
spark=spark.createDataFrame(data=order_data,schema=columns)
spark.show()

+-------+----------+----------+-----------+
|OrderID|CustomerID| OrderDate|TotalAmount|
+-------+----------+----------+-----------+
|   1001|         1|2025-10-20|      750.5|
|   1002|         3|2025-10-20|      120.0|
|   1003|         1|2025-10-21|      45.99|
|   1004|         2|2025-10-21|     980.75|
|   1005|         3|2025-10-22|      250.0|
+-------+----------+----------+-----------+

In [17]:
employee_data={'Employee_Id':[101,102,103],'Employee_Name':['Sahasra','Sharan','Kalyani'],'Salary':[1000,2000,3000],'Department':['IT','HR','Finance']}
from pyspark.sql import DataFrame
from pyspark.sql.functions import col
from pyspark.sql import SparkSession
import pandas as pd
df=pd.DataFrame(employee_data)
print(df)
# Initialize SparkSession
spark=SparkSession.builder.appName("Employee_Data").getOrCreate()
spark.createDataFrame(df).show()

   Employee_Id Employee_Name  Salary Department
0          101       Sahasra    1000         IT
1          102        Sharan    2000         HR
2          103       Kalyani    3000    Finance
+-----------+-------------+------+----------+
|Employee_Id|Employee_Name|Salary|Department|
+-----------+-------------+------+----------+
|        101|      Sahasra|  1000|        IT|
|        102|       Sharan|  2000|        HR|
|        103|      Kalyani|  3000|   Finance|
+-----------+-------------+------+----------+

In [33]:
user_data={'username':['Sahasra','Sharan'],'Id':[1,2]}
import pandas as pd
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql import DataFrame # This import is not strictly needed for this cell but kept for context

df=pd.DataFrame(user_data)
#print(df)

# Initialize SparkSession (ensure this is only done once per notebook)
spark=SparkSession.builder.appName('userdata').getOrCreate()

t=spark.createDataFrame(df)
#t.show()

# The original filtering code is kept as it was correct, but the function definition was the source of error.
filtered_data=t.filter(col('Id')==1)

# Corrected function definition (the user attempted to define this)
# This function takes a Spark DataFrame and an integer ID, and returns a filtered DataFrame.
def get_user_data_by_id(spark_df: DataFrame, user_id: int) -> DataFrame:
  """Filters a Spark DataFrame by user ID."""
  filtered_df = spark_df.filter(col('Id') == user_id)
  return filtered_df
  output=get_user_data_by_id(spark_df=t,user_id=1)
  print("final output:",output.show())
  output.show(1)

# Example of how to call the corrected function (optional, can be in a new cell)
# user_1_data = get_user_data_by_id(t, 1)
# user_1_data.show()

In [34]:
# Use the function defined in the previous cell to get data for user ID 1
user_1_data = get_user_data_by_id(t, 1)

# Display the filtered data
user_1_data.show()

+--------+---+
|username| Id|
+--------+---+
| Sahasra|  1|
+--------+---+