In [1]:
# Example 1: Basic Enumerate with a List

my_list = ['apple', 'banana', 'cherry']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

In [ ]:
# prompt: iloc function in pandas with examples

import pandas as pd

# Sample DataFrame
data = {'col1': [1, 2, 3, 4, 5],
        'col2': [6, 7, 8, 9, 10],
        'col3': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)

# Example 1: Accessing a single element
element = df.iloc[0, 1]  # Accessing element at row 0, column 1 (index 1, which is 'col2')
print("Example 1:\n",element) #Output: 6


# Example 2: Accessing a single row
row = df.iloc[2]  # Accessing the 3rd row (index 2)
print("\nExample 2:\n",row) # Output: col1     3
                           #         col2     8
                           #         col3    13
                           #         Name: 2, dtype: int64

# Example 3: Accessing a slice of rows
rows = df.iloc[1:4] # Accessing rows from index 1 up to (but not including) index 4.
print("\nExample 3:\n",rows)
# Output:    col1  col2  col3
#            1     2     7     8
#            2     3     8    13
#            3     4     9    14


# Example 4: Accessing a specific column
column = df.iloc[:, 0]  # Accessing the first column (all rows, column 0)
print("\nExample 4:\n",column) #Output: 0    1
                            #       1    2
                            #       2    3
                            #       3    4
                            #       4    5
                            #       Name: col1, dtype: int64

# Example 5: Accessing multiple columns
multiple_columns = df.iloc[:, [0, 2]]  # Accessing the first and third columns
print("\nExample 5:\n",multiple_columns)
# Output:    col1  col3
#           0     1    11
#           1     2    12
#           2     3    13
#           3     4    14
#           4     5    15


# Example 6: Accessing specific cells
specific_cells = df.iloc[[0, 2, 4], [1,2]] # Accessing cells at row 0 and 2, and column 1 and 2
print("\nExample 6:\n", specific_cells)
# Output:    col2  col3
#           0     6    11
#           2     8    13
#           4    10    15

In [1]:
row = df.iloc[2]  # Accessing the 3rd row (index 2)
print("\nExample 2:\n",row)

NameError: name 'df' is not defined

In [ ]:
# prompt: import pandas as pd
# # Sample DataFrame
# data = {'col1': [1, 2, 3, 4, 5],
#         'col2': [6, 7, 8, 9, 10],
#         'col3': [11, 12, 13, 14, 15]}
# df = pd.DataFrame(data)row = df.iloc[2]  # Accessing the 3rd row (index 2)
# print("\nExample 2:\n",row)

import pandas as pd

# Sample DataFrame (This part is already in your code, so no need to repeat it)
data = {'col1': [1, 2, 3, 4, 5],
        'col2': [6, 7, 8, 9, 10],
        'col3': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)

# Accessing the 3rd row (index 2) - This is also already in your code.
# The code below is added to demonstrate how to access elements within the row.
row = df.iloc[2]

# Accessing individual elements within the row
col1_value = row['col1']  # Access the value in 'col1'
col2_value = row.col2     # Another way to access the value in 'col2'
print(f"\nValue in 'col1': {col1_value}")
print(f"Value in 'col2': {col2_value}")

#Iterating through the row elements
for col_name, value in row.items():
  print(f"Column: {col_name}, Value: {value}")

In [3]:
import pandas as pd

# Sample DataFrame
data = {'col1': [1, 2, 3, 4, 5],
        'col2': [6, 7, 8, 9, 10],
        'col3': [11, 12, 13, 14, 15]}
df = pd.DataFrame(data)
row = df.iloc[2]  # Accessing the 3rd row (index 2)
print("\nExample 2:\n",row)

Example 2:
 col1     3
col2     8
col3    13
Name: 2, dtype: int64