In [28]:
# How do you create a pandas Series from a Python list?
a=[1,2,3,4,5]
import pandas as pd
pd.Series(a)
# How do you create a pandas DataFrame from a dictionary of lists?
b={'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
pd.DataFrame(b)
# What does the .values attribute of a Series or DataFrame return?
b={'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
pd.DataFrame(b).values
# What information does the .shape attribute provide for a DataFrame?
b={'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
pd.DataFrame(b).shape
# How do you get the number of dimensions of a DataFrame using an attribute? (.ndim)
b={'a':[1,2,3,4,5],'b':[6,7,8,9,10]}
bdf=pd.DataFrame(b)
bdf.ndim
# What does the .index attribute contain?
bdf.index
# How can you view the data types of each column in a DataFrame? (.dtypes)
bdf.dtypes
# What is the purpose of the .columns attribute?
bdf.columns
# How can you get the total number of elements in a DataFrame? (.size)
bdf.size
# What method displays the first 5 rows of a DataFrame? (.head())
df=pd.read_csv('/content/sample_data/mnist_test.csv')
print(df.head())
# What method displays the last 5 rows of a DataFrame? (.tail())
df.tail()

# How would you display the last 7 rows of a DataFrame? (.tail(7))
df.tail(7)
# What method provides a concise summary of a DataFrame, including non-null counts and memory usage? (.info())
df.info

# How do you generate descriptive statistics for the numerical columns in a DataFrame? (.describe())
print(df.describe())
# How can you include statistics for object (e.g., string) columns in the output of .describe()?
# Since this dataset doesn't have object columns, this line caused an error.
# print(df.describe(include='object'))
data={'name':['a','b','c','d','e'],'age':[1,2,3,4,5]}
df=pd.DataFrame(data)
print(df)
print(df.describe(include='object'))
# What method would you use to get a random sample of rows from your DataFrame? (.sample())
print(df.sample())
# How do you check if a DataFrame is empty? (.empty attribute)
print(df.empty)
# How can you get the memory usage of each column in a DataFrame? (.memory_usage())
print(df.memory_usage())
# What is the difference between the .size and .shape attributes?
print(df.size)
print(df.shape)
# How do you rename the column 'old_name' to 'new_name'? (.rename())
print(df.rename(columns={'name[1]':'Ayesha'}))
# How do you set the DataFrame's index to the 'employee_id' column and make the change permanent? (.set_index(), inplace=True)
df.set_index('name',inplace=True)
print(df)
# Section 2: Selection & Filtering (Questions 21-45)
import numpy as np
data = {
    'Employee ID': range(1, 21),
    'Name': [f'Employee_{i}' for i in range(1, 21)],
    'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], 20),
    'Salary': np.random.randint(50000, 120000, 20),
    'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='ME')),
    'Performance Score': np.random.uniform(70, 100, 20).round(2)
}

df_employees = pd.DataFrame(data)
display(df_employees)
# How do you select a single column named 'salary' from a DataFrame, returning a Series?
df_employees['Salary'].dropna()
new_data = {
    'Employee ID': [21, 22, 23],
    'Name': ['Employee_21', 'Employee_22', 'Employee_23'],
    'Department': [np.nan, 'Marketing', 'Sales'],
    'Salary': [75000, np.nan, 90000],
    'Start Date': [pd.to_datetime('2021-09-30'), pd.to_datetime('2021-10-31'), np.nan],
    'Performance Score': [np.nan, 88.5, 92.1]
}

df_new_employees = pd.DataFrame(new_data)
display(df_new_employees)

# Concatenate the new rows to the existing DataFrame
# import numpy as np
# df_employees = pd.concat([df_employees, df_new_employees], ignore_index=True)

# display(df_employees)

#df_employees["Salary"].sort_data(dropna=False)
# How do you select the 'name' and 'salary' columns, returning a DataFrame?
df_employees["Performance Score"].value_counts()

# What is the fundamental difference between .loc[] and .iloc[]
# Using .iloc[], how do you select the first 3 rows?
df_employees["Salary"].iloc[3]
# Using .loc[], how do you select the row with the index label 'ID-123'?
df_employees.loc[3]
# How do you select the first 5 rows and the first 2 columns using .iloc[]?
df_employees.iloc[0:5,0:2]
# How do you select all rows where the 'department' column is 'Engineering'
df_employees[df_employees["Department"]=="Engineering"]
# Write the code to filter for employees with a 'salary' greater than 100,000.
#df_employees[df_employees['Salary']>100000]
# How do you filter for employees in the 'Engineering' department who also have a salary over 100,000?
#df_employees[df_employees["Department"]=="Engineering" & df_employees["Salary"]>100000]

# What is the purpose of the parentheses when combining multiple boolean conditions for filtering?

# How do you select employees who are in the 'HR' OR 'Marketing' department using the .isin() method?
# How would you select all employees that are not in the 'Engineering' department? (Use != or ~)
df_employees[df_employees["Department"]!="Engineering"]
# How do you select rows where the 'salary' is between 70,000 and 90,000 using the .between() method?
df_employees[df_employees["Salary"].between(70000,90000)]
# What does the .query() method do and what is one advantage of using it?
df_employees.query("Salary>100000")
# Using .query(), select all rows where salary > 100000 and department == 'Engineering'.
df_employees.query("Salary>100000 & Department=='Engineering'")
# How do you find all rows where a specific column's value is null/missing? (.isnull())
df_employees.isnull()
# How do you find all rows where a column's value is not null? (.notnull())
df_employees.notnull()
# Using the .str accessor, how do you filter for names that start with the letter 'A'?
df_employees[df_employees["Name"].str.startswith("A")]
# Using the .str accessor, how do you find all departments that contain the substring 'ineer'?
df_employees[df_employees["Department"].str.contains("ineer")]
# How do you select the row with the largest value in the 'salary' column? (.nlargest())
df_employees["Salary"].nlargest()
# How do you select the 5 rows with the smallest performance scores? (.nsmallest())
df_employees["Performance Score"].nsmallest()
# What is the difference between df['col'] and df.col for selecting a column? When can df.col fail?

# How do you drop the column named 'temp_column' from a DataFrame? (.drop())
df_employees.drop(columns=["Name"])
# How do you drop rows with index labels 'row1' and 'row2'?
df_employees.drop(index=[1,2])
# Using .loc[], how do you change the salary of the employee with index 'ID-101' to 95000?
df_employees.loc[1,"Salary"]=95000
df_employees
# Section 3: Mathematical & Statistical Methods (Questions 46-70)
# How do you calculate the sum of the 'salary' column?
df_employees["Salary"].sum()
# What method calculates the average of a column? (.mean())
df_employees["Salary"].mean()
# How do you find the median salary? (.median())
df_employees["Salary"].median()
# How do you find the minimum and maximum values in the 'performance_score' column?
df_employees["Performance Score"].min()
df_employees["Performance Score"].max()
# How do you calculate the standard deviation of the 'salary' column? (.std())
df_employees["Salary"].std()
# What method returns the index of the maximum value in a Series? (.idxmax())
df_employees["Salary"].idxmax()
# What method returns the index of the minimum value? (.idxmin())
df_employees["Salary"].idxmin()
# How do you get the number of non-null values in each column of a DataFrame? (.count())

# How do you calculate the standard deviation of a numerical column? (.std())
df_employees["Salary"].std()
# How do you calculate the variance? (.var())
df_employees["Salary"].var()
# What method would you use to get the frequency counts of unique values in the 'department' column? (.value_counts())
df_employees["Department"].unique()
# Use value_counts() to get the frequency of each department
department_counts = df_employees['Department'].value_counts()
print("Frequency counts of departments:")
# print(department_counts).unique()
# Using .value_counts(), how would you display the frequencies as percentages?
df_employees["Salary"].value_counts(normalize=True) * 100
# Use normalize=True to get frequencies as percentages
department_percentages = df_employees['Department'].value_counts(normalize=True) * 100
# How do you get a NumPy array of the unique values in a column? (.unique())
df_employees["Department"].unique()
# How do you count the number of unique values in a column? (.nunique())
df_employees['Department'].nunique()
# What method calculates the cumulative sum of a column? (.cumsum())
df_employees["Salary"].cumsum()
# What is the purpose of the .cumprod() method?
df_employees["Salary"].cumprod()
# # How do you calculate the correlation matrix for all numerical columns in a DataFrame? (.corr())
# df_employees.corr('Salary','Performance Score')
# # How do you compute the pairwise correlation between two specific columns?
# # What is the difference between covariance (.cov()) and correlation (.corr())?
# # How would you apply a function, like numpy.sqrt, to every element in a DataFrame? (.applymap())
# df_employees.applymap(np.sqrt)
# # How do you get the absolute value of all numbers in a Series? (.abs())
# # What method computes the percentage change between elements in a Series? (.pct_change())
# df_employees.pct_change()
# # How do you calculate the skewness of a numerical distribution? (.skew())

# # How do you calculate the kurtosis? (.kurt())
# # What does the .round(2) method do on a Series of floats?
# df_employees["Salary"].round(2)
# # How would you chain methods to find the mean salary of the top 10 highest-paid employees?
# df_employees.sort_values(by="Salary",ascending=False).head(10)["Salary"].mean()
# # Section 4: The GroupBy Class (Questions 71-95)
# # What kind of object is returned by df.groupby('department')?
# df_employees.groupby('Department')
df_employees.groupby('Department')
# After grouping by 'department', how do you calculate the mean salary for each group?
df_employees.groupby('Department')['Salary'].mean()
# How do you get the size of each group after grouping by 'department'? (.size())
df_employees.groupby('Department').size()
# How can you apply multiple aggregation functions (e.g., sum, mean) to the 'salary' column for each department at once? (.agg())
df_employees.groupby('Department').agg({'Salary': ['sum', 'mean']})
# How do you apply multiple aggregation functions (e.g., sum, mean) to the 'salary' column for each department at once? (.agg()
# Using .agg(), how do you calculate the mean 'salary' and the max 'performance_score' for each department?
# What is "named aggregation" and how would you use it to rename aggregated columns directly?
# How do you group by multiple columns, for instance, 'department' and 'start_year'?
# After grouping, how do you retrieve a specific group's DataFrame, for example, the 'Engineering' group? (.get_group())
# How can you iterate through the groups of a GroupBy object?
# What is the primary use case of groupby().transform()?
# How does groupby().transform('mean') differ from groupby().mean()?
# Use .transform() to create a new column that shows the average salary for each employee's department.
# What is the purpose of groupby().filter()?
# Use .filter() to return a DataFrame containing only the departments that have more than 2 employees.
# After grouping, how can you get the first entry of each group? (.first())
# How can you get the nth largest salary within each department?
# What does df.groupby('department').describe() show you?
# How does groupby().cumcount() work?
# Can you apply a custom lambda function in an aggregation? Show an example.
# How do you reset the index of a DataFrame that has been created from a groupby operation? (.reset_index())
# What is a MultiIndex and when is it created during a groupby operation?
# How do you apply a function to each group that returns a DataFrame, and then combines the results? (.apply())
# What is the difference between groupby().count() and groupby().size()? (Hint: NaN values)
# How do you find the number of unique employees within each department after grouping?
# How would you calculate the total salary as a percentage of the entire company's salary for each department?
# Section 5: Merging, Joining, and Concatenating (Questions 96-115)
# What are the three main functions for combining DataFrames in pandas?
# What is the purpose of pd.concat()?
# How do you stack two DataFrames (df1, df2) vertically on top of each other?
# What does the axis=1 parameter do in pd.concat()?
# When concatenating, what problem can arise with the indexes and how do you solve it? (ignore_index=True)
# What is the fundamental purpose of pd.merge()?
# What are the four main types of joins you can perform with pd.merge()? (how parameter)
# What is an 'inner' join?
# What is a 'left' join?
# How do you merge df_employees and df_managers on a common column named 'department_id'? (on=...)
# What if the key columns have different names in the two DataFrames? (left_on, right_on)
# What happens if you merge two DataFrames that both have columns with the same name (that are not the join key)? How do you handle this? (suffixes=...)
# How does df.join() differ from pd.merge() in its default behavior? (Joins on index)
# How would you perform a left join of df1 and df2 where df1 is joined on a column and df2 is joined on its index?
# What does the validate parameter in .merge() do? (e.g., "one_to_one")
# What is a Cartesian product merge and how would you perform one?
# How do you combine DataFrames based on both their indexes and a key column?
# What is the difference between pd.merge() and pd.concat() when axis=1? (Hint: Index alignment)
# How do you add a key to identify which original DataFrame a row came from when concatenating? (keys=...)
# What is pd.merge_asof() used for? (Time-series merges)
# Section 6: All Other Important Functions & Methods (Questions 116-150)
# How do you convert a column of strings into datetime objects? (pd.to_datetime())
# Once a column is in datetime format, what accessor do you use to get properties like year or month? (.dt)
# Using the .dt accessor, how do you get the name of the day of the week?
# How do you handle missing values using the .dropna() method?
# How do you fill missing values with the number 0? (.fillna(0))
# What is forward-filling (ffill) and when is it useful?
# How do you sort a DataFrame by the 'salary' column in descending order? (.sort_values())
# How do you sort by multiple columns (e.g., by 'department' then by 'salary')?
# What method is used to sort a DataFrame by its index? (.sort_index())
# How do you find and remove duplicate rows from a DataFrame? (.drop_duplicates())
# How do you keep only the last occurrence of a duplicated row?
# What is the purpose of df.pivot_table()? What do the index, columns, and values arguments represent?
# What is the inverse of pivoting? How do you convert a "wide" DataFrame to a "long" one? (.melt())
# What is method chaining and why is it a popular pattern in pandas?
# How can df.pipe() be used to improve method chaining?
# How do you change the data type of the 'employee_id' column to 'category'? (.astype())
# What are the memory and performance benefits of using the 'category' dtype?
# How do you use pd.cut() to bin a numerical column into discrete intervals?
# What is the difference between pd.cut() and pd.qcut()?
# How do you read a CSV file into a DataFrame? (pd.read_csv())
# How do you write a DataFrame to an Excel file, excluding the index? (.to_excel(), index=False)
# How do you create dummy variables from a categorical column like 'department'? (pd.get_dummies())
# What is the main purpose of the .apply() method?
# What is the difference between .apply() and .applymap() for a DataFrame?
# How do you calculate a 3-period rolling average of a Series? (.rolling())
# What is the difference between a rolling window and an expanding window (.expanding())?
# How do you shift the values in a Series forward by one period? (.shift())
# What is the primary use case for df.explode()? (Lists/iterables in cells)
# How do you clip the values in a Series to be within a specific range (e.g., between 0 and 100)? (.clip())
# How do you change pandas display options to show all columns of a wide DataFrame? (pd.set_option())
# What does the df.style attribute allow you to do? (Conditional formatting)
# What does the df.replace() method do? Show an example.
# What is the purpose of df.to_clipboard()?
# How do you reset a DataFrame's index back to the default integer index? (.reset_index())
# What does the df.copy() method do and why is it important to use it sometimes?

   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  1  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]
                 7       0     0.1     0.2     0.3     0.4     0.5     0.6  \
count  9999.000000  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0
mean      4.443144     0.0     0.0     0.0     0.0     0.0     0.0     0.0
std       2.895897     0.0     0.0     0.0     0.0     0.0     0.0     0.0
min       0.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
25%       2.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
50%       4.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
75%       7.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0
max       9.000000     0.0     0.0     0.0     0.0     0.0     0.0     0.0

          0.7     0.8  ...        0.658        0.659        0.660  \
count  9999.0  9999.0  ...  9999.000000  9999.000000  9999.000000
mean      0.0     0.0  ...     0.179318     0.163616     0.052605
std       0.0     0.0  ...     5.674433     5.736359     2.420125
min       0.0     0.0  ...     0.000000     0.000000     0.000000
25%       0.0     0.0  ...     0.000000     0.000000     0.000000
50%       0.0     0.0  ...     0.000000     0.000000     0.000000
75%       0.0     0.0  ...     0.000000     0.000000     0.000000
max       0.0     0.0  ...   253.000000   253.000000   156.000000

             0.661   0.662   0.663   0.664   0.665   0.666   0.667
count  9999.000000  9999.0  9999.0  9999.0  9999.0  9999.0  9999.0
mean      0.000600     0.0     0.0     0.0     0.0     0.0     0.0
std       0.060003     0.0     0.0     0.0     0.0     0.0     0.0
min       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
25%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
50%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
75%       0.000000     0.0     0.0     0.0     0.0     0.0     0.0
max       6.000000     0.0     0.0     0.0     0.0     0.0     0.0

[8 rows x 785 columns]
  name  age
0    a    1
1    b    2
2    c    3
3    d    4
4    e    5
       name
count     5
unique    5
top       a
freq      1
  name  age
1    b    2
False
Index    132
name      40
age       40
dtype: int64
10
(5, 2)
  name  age
0    a    1
1    b    2
2    c    3
3    d    4
4    e    5
      age
name
a       1
b       2
c       3
d       4
e       5

,Employee ID,Name,Department,Salary,Start Date,Performance Score
0,1,Employee_1,Sales,80286,2020-01-31,74.00
1,2,Employee_2,HR,81511,2020-02-29,92.49
2,3,Employee_3,Marketing,119954,2020-03-31,75.70
3,4,Employee_4,HR,113477,2020-04-30,90.87
4,5,Employee_5,Sales,62806,2020-05-31,83.97
5,6,Employee_6,HR,59148,2020-06-30,75.53
6,7,Employee_7,Sales,112355,2020-07-31,78.38
7,8,Employee_8,Marketing,68734,2020-08-31,89.02
8,9,Employee_9,Finance,108363,2020-09-30,74.92
9,10,Employee_10,Marketing,100489,2020-10-31,88.05
10,11,Employee_11,Finance,91423,2020-11-30,80.03
11,12,Employee_12,HR,108968,2020-12-31,86.78
12,13,Employee_13,Marketing,59213,2021-01-31,72.82
13,14,Employee_14,Sales,51643,2021-02-28,81.78
14,15,Employee_15,Sales,75210,2021-03-31,74.03
15,16,Employee_16,Marketing,84984,2021-04-30,76.76
16,17,Employee_17,HR,88027,2021-05-31,76.79
17,18,Employee_18,Engineering,108723,2021-06-30,76.00
18,19,Employee_19,Engineering,55492,2021-07-31,84.99
19,20,Employee_20,HR,93930,2021-08-31,71.50

   Employee ID         Name Department   Salary Start Date  Performance Score
0           21  Employee_21        NaN  75000.0 2021-09-30                NaN
1           22  Employee_22  Marketing      NaN 2021-10-31               88.5
2           23  Employee_23      Sales  90000.0        NaT               92.1

Frequency counts of departments:

             Salary
                sum          mean
Department
Engineering  164215  82107.500000
Finance      199786  99893.000000
HR           558550  93091.666667
Marketing    433374  86674.800000
Sales        382300  76460.000000

In [11]:
import pandas as pd
import numpy as np

# Generate employee data
num_employees = 1000
data = {
    'Employee ID': range(1, num_employees + 1),
    'Name': [f'Employee_{i}' for i in range(1, num_employees + 1)],
    'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], num_employees),
    'Salary': np.random.randint(50000, 120000, num_employees),
    'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=num_employees, freq='D')),
    'Performance Score': np.random.uniform(70, 100, num_employees).round(2)
}

df_employees_large = pd.DataFrame(data)

# Display the first few rows of the DataFrame
display(df_employees_large.head())

   Employee ID        Name   Department  Salary Start Date  Performance Score
0            1  Employee_1      Finance   71232 2020-01-01              96.52
1            2  Employee_2    Marketing   73589 2020-01-02              83.11
2            3  Employee_3           HR   79097 2020-01-03              96.17
3            4  Employee_4  Engineering   86222 2020-01-04              90.62
4            5  Employee_5      Finance   68335 2020-01-05              95.03

In [ ]:
# How do you calculate the correlation matrix for all numerical columns in a DataFrame? (.corr())
print("Correlation matrix for all numerical columns:")
print(df_employees.corr(numeric_only=True))

# How do you compute the pairwise correlation between two specific columns?
print("\nPairwise correlation between 'Salary' and 'Performance Score':")
print(df_employees['Salary'].corr(df_employees['Performance Score']))

Correlation matrix for all numerical columns:
                   Employee ID    Salary  Performance Score
Employee ID           1.000000 -0.180085           0.286718
Salary               -0.180085  1.000000           0.153145
Performance Score     0.286718  0.153145           1.000000

Pairwise correlation between 'Salary' and 'Performance Score':
0.15314469115728832

In [ ]:
# Using .value_counts(), how would you display the frequencies as percentages?
# Use normalize=True to get frequencies as percentages
department_percentages = df_employees['Department'].value_counts(normalize=True) * 100
print("Frequency percentages of departments:")
print(department_percentages)

Frequency percentages of departments:
Department
HR             35.0
Finance        20.0
Engineering    15.0
Sales          15.0
Marketing      15.0
Name: proportion, dtype: float64

In [22]:
# How do you calculate the variance? (.var())
import numpy as np
import pandas as pd

data = {
    'Employee ID': range(1, 21),
    'Name': [f'Employee_{i}' for i in range(1, 21)],
    'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], 20),
    'Salary': np.random.randint(50000, 120000, 20),
    'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='ME')),
    'Performance Score': np.random.uniform(70, 100, 20).round(2)
}
df_employees = pd.DataFrame(data)
display(df_employees)
# df_employees.drop(columns=["Name"])
# df_employees["Salary"].var()
# # What method would you use to get the frequency counts of unique values in the 'department' column? (.value_counts())
# df_employees["Department"].unique()
# # Use value_counts() to get the frequency of each department
# department_counts = df_employees['Department'].value_counts()
# #print("Frequency counts of departments:")
# #print(department_counts)
# # Using .value_counts(), how would you display the frequencies as percentages?
# df_employees["Salary"].value_counts(normalize=True) * 100
# # Use normalize=True to get frequencies as percentages
# department_percentages = df_employees['Department'].value_counts(normalize=True) * 100
# #print("\nFrequency percentages of departments:")
# print(department_percentages)
# # How do you get a NumPy array of the unique values in a column? (.unique())
# df_employees["Department"].unique()
# # How do you count the number of unique values in a column? (.nunique())
# df_employees['Department'].nunique()
# # What method calculates the cumulative sum of a column? (.cumsum())
# df_employees["Salary"].cumsum()
# What is the purpose of the .cumprod() method?

# How do you calculate the correlation matrix for all numerical columns in a DataFrame? (.corr())
#df_employees.corr()

# How do you compute the pairwise correlation between two specific columns?
# What is the difference between covariance (.cov()) and correlation (.corr())?
# import pandas as pd
# import numpy as np

# data = {
#     'Study_Hours': [2, 4, 6, 8],
#     'Test_Score': [50, 60, 70, 80]
# }
# df = pd.DataFrame(data)

# print("Our Data:")
# print(df)
# df.cov()
# # How would you apply a function, like numpy.sqrt, to every element in a DataFrame? (.applymap())
# df.applymap(np.sqrt)
# # How do you get the absolute value of all numbers in a Series? (.abs())
# df.applymap(abs)
# # What method computes the percentage change between elements in a Series? (.pct_change())
# df.pct_change()
# How do you calculate the skewness of a numerical distribution? (.skew())
# How do you calculate the kurtosis? (.kurt())
# What does the .round(2) method do on a Series of floats?
# How would you chain methods to find the mean salary of the top 10 highest-paid employees?
# Section 4: The GroupBy Class (Questions 71-95)
# What kind of object is returned by df.groupby('department')?
df.groupby('Department')
# After grouping by 'department', how do you calculate the mean salary for each group?
# How do you get the size of each group after grouping by 'department'? (.size())
# How can you apply multiple aggregation functions (e.g., sum, mean) to the 'salary' column for each department at once? (.agg())
# Using .agg(), how do you calculate the mean 'salary' and the max 'performance_score' for each department?
# What is "named aggregation" and how would you use it to rename aggregated columns directly?
# How do you group by multiple columns, for instance, 'department' and 'start_year'?
# After grouping, how do you retrieve a specific group's DataFrame, for example, the 'Engineering' group? (.get_group())
# How can you iterate through the groups of a GroupBy object?
# What is the primary use case of groupby().transform()?
# How does groupby().transform('mean') differ from groupby().mean()?
# Use .transform() to create a new column that shows the average salary for each employee's department.
# What is the purpose of groupby().filter()?
# Use .filter() to return a DataFrame containing only the departments that have more than 2 employees.
# After grouping, how can you get the first entry of each group? (.first())
# How can you get the nth largest salary within each department?
# What does df.groupby('department').describe() show you?
# How does groupby().cumcount() work?
# Can you apply a custom lambda function in an aggregation? Show an example.
# How do you reset the index of a DataFrame that has been created from a groupby operation? (.reset_index())
# What is a MultiIndex and when is it created during a groupby operation?
# How do you apply a function to each group that returns a DataFrame, and then combines the results? (.apply())
# What is the difference between groupby().count() and groupby().size()? (Hint: NaN values)
# How do you find the number of unique employees within each department after grouping?
# How would you calculate the total salary as a percentage of the entire company's salary for each department?
# Section 5: Merging, Joining, and Concatenating (Questions 96-115)
# What are the three main functions for combining DataFrames in pandas?
# What is the purpose of pd.concat()?
# How do you stack two DataFrames (df1, df2) vertically on top of each other?
# What does the axis=1 parameter do in pd.concat()?
# When concatenating, what problem can arise with the indexes and how do you solve it? (ignore_index=True)
# What is the fundamental purpose of pd.merge()?
# What are the four main types of joins you can perform with pd.merge()? (how parameter)
# What is an 'inner' join?
# What is a 'left' join?
# How do you merge df_employees and df_managers on a common column named 'department_id'? (on=...)
# What if the key columns have different names in the two DataFrames? (left_on, right_on)
# What happens if you merge two DataFrames that both have columns with the same name (that are not the join key)? How do you handle this? (suffixes=...)
# How does df.join() differ from pd.merge() in its default behavior? (Joins on index)
# How would you perform a left join of df1 and df2 where df1 is joined on a column and df2 is joined on its index?
# What does the validate parameter in .merge() do? (e.g., "one_to_one")
# What is a Cartesian product merge and how would you perform one?
# How do you combine DataFrames based on both their indexes and a key column?
# What is the difference between pd.merge() and pd.concat() when axis=1? (Hint: Index alignment)
# How do you add a key to identify which original DataFrame a row came from when concatenating? (keys=...)
# What is pd.merge_asof() used for? (Time-series merges)
# Section 6: All Other Important Functions & Methods (Questions 116-150)
# How do you convert a column of strings into datetime objects? (pd.to_datetime())
# Once a column is in datetime format, what accessor do you use to get properties like year or month? (.dt)
# Using the .dt accessor, how do you get the name of the day of the week?
# How do you handle missing values using the .dropna() method?
# How do you fill missing values with the number 0? (.fillna(0))
# What is forward-filling (ffill) and when is it useful?
# How do you sort a DataFrame by the 'salary' column in descending order? (.sort_values())
# How do you sort by multiple columns (e.g., by 'department' then by 'salary')?
# What method is used to sort a DataFrame by its index? (.sort_index())
# How do you find and remove duplicate rows from a DataFrame? (.drop_duplicates())
# How do you keep only the last occurrence of a duplicated row?
# What is the purpose of df.pivot_table()? What do the index, columns, and values arguments represent?
# What is the inverse of pivoting? How do you convert a "wide" DataFrame to a "long" one? (.melt())
# What is method chaining and why is it a popular pattern in pandas?
# How can df.pipe() be used to improve method chaining?
# How do you change the data type of the 'employee_id' column to 'category'? (.astype())
# What are the memory and performance benefits of using the 'category' dtype?
# How do you use pd.cut() to bin a numerical column into discrete intervals?
# What is the difference between pd.cut() and pd.qcut()?
# How do you read a CSV file into a DataFrame? (pd.read_csv())
# How do you write a DataFrame to an Excel file, excluding the index? (.to_excel(), index=False)
# How do you create dummy variables from a categorical column like 'department'? (pd.get_dummies())
# What is the main purpose of the .apply() method?
# What is the difference between .apply() and .applymap() for a DataFrame?
# How do you calculate a 3-period rolling average of a Series? (.rolling())
# What is the difference between a rolling window and an expanding window (.expanding())?
# How do you shift the values in a Series forward by one period? (.shift())
# What is the primary use case for df.explode()? (Lists/iterables in cells)
# How do you clip the values in a Series to be within a specific range (e.g., between 0 and 100)? (.clip())
# How do you change pandas display options to show all columns of a wide DataFrame? (pd.set_option())
# What does the df.style attribute allow you to do? (Conditional formatting)
# What does the df.replace() method do? Show an example.
# What is the purpose of df.to_clipboard()?
# How do you reset a DataFrame's index back to the default integer index? (.reset_index())
# What does the df.copy() method do and why is it important to use it sometimes?

,Employee ID,Name,Department,Salary,Start Date,Performance Score
0,1,Employee_1,Engineering,74314,2020-01-31,76.69
1,2,Employee_2,Marketing,117357,2020-02-29,73.71
2,3,Employee_3,HR,67626,2020-03-31,97.84
3,4,Employee_4,HR,93311,2020-04-30,82.83
4,5,Employee_5,Marketing,110515,2020-05-31,94.55
5,6,Employee_6,Finance,90365,2020-06-30,97.96
6,7,Employee_7,HR,59483,2020-07-31,86.08
7,8,Employee_8,HR,106098,2020-08-31,85.57
8,9,Employee_9,Sales,75697,2020-09-30,97.01
9,10,Employee_10,Marketing,95654,2020-10-31,81.56
10,11,Employee_11,Finance,102536,2020-11-30,82.66
11,12,Employee_12,Finance,68035,2020-12-31,94.73
12,13,Employee_13,HR,115360,2021-01-31,87.22
13,14,Employee_14,HR,105080,2021-02-28,92.67
14,15,Employee_15,Finance,70988,2021-03-31,77.55
15,16,Employee_16,Sales,88873,2021-04-30,97.64
16,17,Employee_17,HR,74431,2021-05-31,82.09
17,18,Employee_18,HR,50114,2021-06-30,85.95
18,19,Employee_19,Finance,114161,2021-07-31,86.59
19,20,Employee_20,HR,105357,2021-08-31,88.93

KeyError: 'Department'

In [ ]:

import pandas as pd
data={'name':['a','b','c','d'],'age':[2,3,4,5]}
df=pd.DataFrame(data)
print(df.rename(columns={'name[1]':'Ayesha'}))

  name  age
0    a    2
1    b    3
2    c    4
3    d    5

In [ ]:
import pandas as pd

data = {'name': ['a', 'b', 'c', 'd'], 'age': [2, 3, 4, 5]}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Replace 'a' with 'Ayesha' in the 'name' column
df['name'] = df['name'].replace('a', 'Ayesha')

print("\nDataFrame after replacement:")
print(df)

Original DataFrame:
  name  age
0    a    2
1    b    3
2    c    4
3    d    5

DataFrame after replacement:
     name  age
0  Ayesha    2
1       b    3
2       c    4
3       d    5

In [ ]:
import pandas as pd
import numpy as np

# Generate employee data
data = {
    'Employee ID': range(1, 21),
    'Name': [f'Employee_{i}' for i in range(1, 21)],
    'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], 20),
    'Salary': np.random.randint(50000, 120000, 20),
    'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='M')),
    'Performance Score': np.random.uniform(70, 100, 20).round(2)
}

df_employees = pd.DataFrame(data)
display(df_employees)

/tmp/ipython-input-102179637.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='M')),

,Employee ID,Name,Department,Salary,Start Date,Performance Score
0,1,Employee_1,Engineering,71663,2020-01-31,81.84
1,2,Employee_2,Engineering,104856,2020-02-29,98.63
2,3,Employee_3,Sales,76476,2020-03-31,72.48
3,4,Employee_4,Engineering,65574,2020-04-30,93.23
4,5,Employee_5,Finance,102977,2020-05-31,80.61
5,6,Employee_6,Engineering,94183,2020-06-30,96.34
6,7,Employee_7,Finance,82996,2020-07-31,90.99
7,8,Employee_8,Marketing,111622,2020-08-31,84.09
8,9,Employee_9,Engineering,106725,2020-09-30,93.00
9,10,Employee_10,Engineering,62276,2020-10-31,92.75
10,11,Employee_11,Engineering,80585,2020-11-30,78.37
11,12,Employee_12,Sales,53623,2020-12-31,96.26
12,13,Employee_13,HR,101619,2021-01-31,84.47
13,14,Employee_14,Sales,70656,2021-02-28,73.46
14,15,Employee_15,Finance,84385,2021-03-31,96.55
15,16,Employee_16,Marketing,104982,2021-04-30,71.34
16,17,Employee_17,Marketing,93670,2021-05-31,82.24
17,18,Employee_18,HR,85810,2021-06-30,79.46
18,19,Employee_19,Sales,71893,2021-07-31,83.71
19,20,Employee_20,Sales,57620,2021-08-31,93.49

In [ ]:
import numpy as np

# Create new rows with some NaN values
new_data = {
    'Employee ID': [21, 22, 23],
    'Name': ['Employee_21', 'Employee_22', 'Employee_23'],
    'Department': [np.nan, 'Marketing', 'Sales'],
    'Salary': [75000, np.nan, 90000],
    'Start Date': [pd.to_datetime('2021-09-30'), pd.to_datetime('2021-10-31'), np.nan],
    'Performance Score': [np.nan, 88.5, 92.1]
}

df_new_employees = pd.DataFrame(new_data)

# Concatenate the new rows to the existing DataFrame
df_employees = pd.concat([df_employees, df_new_employees], ignore_index=True)

display(df_employees)

,Employee ID,Name,Department,Salary,Start Date,Performance Score
0,1,Employee_1,HR,107885.0,2020-01-31,73.29
1,2,Employee_2,Marketing,92835.0,2020-02-29,96.02
2,3,Employee_3,Engineering,119179.0,2020-03-31,82.69
3,4,Employee_4,HR,87801.0,2020-04-30,97.09
4,5,Employee_5,Sales,59000.0,2020-05-31,85.64
5,6,Employee_6,Finance,87500.0,2020-06-30,88.45
6,7,Employee_7,Finance,73044.0,2020-07-31,99.88
7,8,Employee_8,Sales,96328.0,2020-08-31,78.20
8,9,Employee_9,Sales,111927.0,2020-09-30,73.39
9,10,Employee_10,Sales,108712.0,2020-10-31,90.12
10,11,Employee_11,Engineering,95377.0,2020-11-30,94.26
11,12,Employee_12,Engineering,77683.0,2020-12-31,96.78
12,13,Employee_13,Finance,115534.0,2021-01-31,87.53
13,14,Employee_14,Sales,86179.0,2021-02-28,86.91
14,15,Employee_15,HR,106655.0,2021-03-31,77.12
15,16,Employee_16,Marketing,85936.0,2021-04-30,74.56
16,17,Employee_17,HR,107145.0,2021-05-31,89.55
17,18,Employee_18,Sales,87635.0,2021-06-30,91.98
18,19,Employee_19,HR,51812.0,2021-07-31,70.33
19,20,Employee_20,Finance,95337.0,2021-08-31,82.94
20,21,Employee_21,NaN,75000.0,2021-09-30,NaN
21,22,Employee_22,Marketing,NaN,2021-10-31,88.50
22,23,Employee_23,Sales,90000.0,NaT,92.10

In [14]:
data = {
    'Employee ID': range(1, 21),
    'Name': [f'Employee_{i}' for i in range(1, 21)],
    'Department': np.random.choice(['Sales', 'Marketing', 'Engineering', 'HR', 'Finance'], 20),
    'Salary': np.random.randint(50000, 120000, 20),
    'Start Date': pd.to_datetime(pd.date_range(start='2020-01-01', periods=20, freq='D')),
    'Performance Score': np.random.uniform(70, 100, 20).round(2)
}
df_employees = pd.DataFrame(data)
# display(df_employees)
grouped_by_department = df.groupby('Department')
print(grouped_by_department)
#df_employees["Salary"].(dropna=True)
# #df_employees[df_employees["Department"]=="Engineering"]
# df_employees[df_employees["Department"]=="Engineering" & df_employees["Salary"]>100000]

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7d6d03c36a80>

In [ ]:
import numpy as np
import pandas as pd

# What method would you use to get the frequency counts of unique values in the 'department' column? (.value_counts())
# Use value_counts() to get the frequency of each department
department_counts = df_employees['Department'].value_counts()
print("Frequency counts of departments:")
print(department_counts)

# Using .value_counts(), how would you display the frequencies as percentages?
# Use normalize=True to get frequencies as percentages
department_percentages = df_employees['Department'].value_counts(normalize=True) * 100
print("\nFrequency percentages of departments:")
print(department_percentages)

# How do you handle missing values using the .dropna() method?
# Create a Series with some missing values
series_with_nan = pd.Series([1, 2, np.nan, 4, 5, np.nan])
print("\nOriginal Series with NaN:")
print(series_with_nan)

# Use dropna() to remove missing values
series_without_nan = series_with_nan.dropna()
print("\nSeries after dropna():")
print(series_without_nan)

# How do you drop rows with missing values from a DataFrame?
# The df_employees DataFrame has some missing values after concatenation
print("\nDataFrame before dropna():")
display(df_employees)

# Use dropna() on the DataFrame to remove rows with any missing values
df_employees_dropna = df_employees.dropna()
print("\nDataFrame after dropna():")
display(df_employees_dropna)

NameError: name 'df_employees' is not defined

In [ ]:
# Create a dataset containing employees from the 'Engineering' department
engineering_employees_df = df_employees[df_employees['Department'] == 'Engineering']

# Display the filtered DataFrame
display(engineering_employees_df)

In [ ]:
import pandas as pd
import numpy as np
import datetime as dt

# Generate 1000 random dates within a two-year period
start_date = pd.to_datetime('2023-01-01')
end_date = pd.to_datetime('2024-12-31')
date_range = pd.date_range(start=start_date, end=end_date, periods=1000)

# Generate random spending amounts
spending_amounts = np.random.uniform(10, 500, 1000).round(2)

# Define spending categories and locations
categories = ['Groceries', 'Electronics', 'Clothing', 'Home', 'Entertainment', 'Other']
locations = ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix', 'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose']

# Generate random categories and locations for each date
random_categories = np.random.choice(categories, 1000)
random_locations = np.random.choice(locations, 1000)

# Create the DataFrame
spending_df = pd.DataFrame({
    'Date': date_range,
    'Category': random_categories,
    'Spend': spending_amounts,
    'Location': random_locations
})

# Display the first few rows of the DataFrame
display(spending_df.head())

# Extract the date part from the 'Date' column
spending_df['Date_only'] = spending_df['Date'].dt.date
display(spending_df.head())
spending_df.drop(columns=["Date"])

                           Date   Category   Spend      Location
0 2023-01-01 00:00:00.000000000  Groceries  455.72   San Antonio
1 2023-01-01 17:32:15.135135135   Clothing  443.02       Chicago
2 2023-01-02 11:04:30.270270270      Other  180.33  Philadelphia
3 2023-01-03 04:36:45.405405405   Clothing  452.62   San Antonio
4 2023-01-03 22:09:00.540540540      Other  227.35     San Diego

                           Date   Category   Spend      Location   Date_only
0 2023-01-01 00:00:00.000000000  Groceries  455.72   San Antonio  2023-01-01
1 2023-01-01 17:32:15.135135135   Clothing  443.02       Chicago  2023-01-01
2 2023-01-02 11:04:30.270270270      Other  180.33  Philadelphia  2023-01-02
3 2023-01-03 04:36:45.405405405   Clothing  452.62   San Antonio  2023-01-03
4 2023-01-03 22:09:00.540540540      Other  227.35     San Diego  2023-01-03

      Category   Spend      Location   Date_only
0    Groceries  455.72   San Antonio  2023-01-01
1     Clothing  443.02       Chicago  2023-01-01
2        Other  180.33  Philadelphia  2023-01-02
3     Clothing  452.62   San Antonio  2023-01-03
4        Other  227.35     San Diego  2023-01-03
..         ...     ...           ...         ...
995       Home  118.43        Dallas  2024-12-28
996      Other  307.05       Houston  2024-12-28
997   Clothing  281.47       Houston  2024-12-29
998   Clothing   63.37      New York  2024-12-30
999      Other  418.29       Houston  2024-12-31

[1000 rows x 4 columns]

# Task
Calculate the day-to-day and month-to-month percentage change in spending from the `spending_df` DataFrame.

## Aggregate spending by day

### Subtask:
Group the `spending_df` DataFrame by the 'Date_only' column and sum the 'Spend' for each day.

**Reasoning**:
Group the spending_df DataFrame by 'Date_only' and calculate the sum of 'Spend' for each day.

In [ ]:
daily_spending = spending_df.groupby('Date_only')['Spend'].sum()
display(daily_spending.head())

Date_only
2023-01-01    898.74
2023-01-02    180.33
2023-01-03    679.97
2023-01-04    485.70
2023-01-05    231.03
Name: Spend, dtype: float64

## Calculate day-to-day percentage change

### Subtask:
Use the `pct_change()` method on the daily spending to find the percentage change from the previous day.

**Reasoning**:
Calculate the day-to-day percentage change of the daily spending using the `.pct_change()` method and display the first few values.

In [ ]:
daily_pct_change = daily_spending.pct_change()
display(daily_pct_change.head())

Date_only
2023-01-01         NaN
2023-01-02   -0.799352
2023-01-03    2.770698
2023-01-04   -0.285704
2023-01-05   -0.524336
Name: Spend, dtype: float64

## Aggregate spending by month

### Subtask:
Extract the month from the 'Date_only' column, group by month, and sum the 'Spend' for each month.

**Reasoning**:
Extract the month from the 'Date_only' column, group by month, sum the 'Spend', and display the head of the result.

In [ ]:
spending_df['Month'] = pd.to_datetime(spending_df['Date_only']).dt.to_period('M')
monthly_spending = spending_df.groupby('Month')['Spend'].sum()
display(monthly_spending.head())

Month
2023-01    12889.00
2023-02     9243.01
2023-03    11929.17
2023-04    10370.02
2023-05    10341.03
Freq: M, Name: Spend, dtype: float64

## Calculate month-to-month percentage change

### Subtask:
Use the `pct_change()` method on the monthly spending to find the percentage change from the previous month.

**Reasoning**:
Apply the `pct_change()` method to the `monthly_spending` Series to calculate the month-over-month percentage change and display the head of the resulting Series.

In [ ]:
monthly_pct_change = monthly_spending.pct_change()
display(monthly_pct_change.head())

Month
2023-01         NaN
2023-02   -0.282876
2023-03    0.290615
2023-04   -0.130701
2023-05   -0.002796
Freq: M, Name: Spend, dtype: float64

## Display results

### Subtask:
Display the DataFrames containing the daily and monthly percentage changes.

**Reasoning**:
Print the daily and monthly percentage changes to display the results of the previous calculations.

In [ ]:
print("Daily Percentage Change in Spending:")
print(daily_pct_change)

print("\nMonthly Percentage Change in Spending:")
print(monthly_pct_change)

Daily Percentage Change in Spending:
Date_only
2023-01-01          NaN
2023-01-02    -0.799352
2023-01-03     2.770698
2023-01-04    -0.285704
2023-01-05    -0.524336
                ...
2024-12-27    -0.799012
2024-12-28    37.715196
2024-12-29    -0.338465
2024-12-30    -0.774861
2024-12-31     5.600757
Name: Spend, Length: 731, dtype: float64

Monthly Percentage Change in Spending:
Month
2023-01         NaN
2023-02   -0.282876
2023-03    0.290615
2023-04   -0.130701
2023-05   -0.002796
2023-06    0.007777
2023-07    0.079191
2023-08   -0.194072
2023-09    0.172417
2023-10   -0.168206
2023-11    0.124361
2023-12    0.034206
2024-01   -0.017916
2024-02    0.093373
2024-03    0.070921
2024-04   -0.156898
2024-05   -0.009991
2024-06    0.149891
2024-07   -0.072926
2024-08   -0.104172
2024-09    0.269850
2024-10   -0.159541
2024-11    0.121038
2024-12   -0.050665
Freq: M, Name: Spend, dtype: float64

## Summary:

### Data Analysis Key Findings

*   The daily spending was calculated by grouping the data by date and summing the 'Spend', resulting in a Series where the first few days of 2023 are displayed.
*   The day-to-day percentage change in spending was calculated using the `pct_change()` method on the daily spending data.
*   The monthly spending was calculated by extracting the month from the date, grouping the data by month, and summing the 'Spend'. The head of the resulting monthly spending Series was displayed.
*   The month-to-month percentage change in spending was calculated using the `pct_change()` method on the monthly spending data.
*   Both the daily and monthly percentage changes were successfully calculated and displayed, with the first entry in each Series being `NaN` as there is no preceding period for comparison.

### Insights or Next Steps

*   Analyze periods with significant positive or negative percentage changes in spending to identify potential drivers or anomalies.
*   Visualize the daily and monthly percentage changes over time to easily identify trends and patterns in spending fluctuations.

In [15]:
department_sizes = grouped_by_department.size()
print("Number of employees per department:")
print(department_sizes)

Number of employees per department:
Department
Engineering    216
Finance        188
HR             194
Marketing      200
Sales          202
dtype: int64

In [17]:
department_description = grouped_by_department.describe()
print("Descriptive statistics for each department:")
print(department_description)

Descriptive statistics for each department:
            Employee ID                                                  \
                  count        mean  min     25%    50%     75%     max
Department
Engineering       216.0  491.106481  9.0  244.75  496.0  711.25   999.0
Finance           188.0  520.638298  7.0  277.75  501.5  797.25  1000.0
HR                194.0  479.226804  8.0  222.25  456.5  714.75   996.0
Marketing         200.0  473.705000  1.0  217.00  471.5  711.00   997.0
Sales             202.0  538.762376  2.0  272.75  560.5  792.25   998.0

                        Salary                ...           Start Date       \
                    std  count          mean  ...                  max  std
Department                                    ...
Engineering  277.228665  216.0  84134.509259  ...  2022-09-25 00:00:00  NaN
Finance      299.343805  188.0  83382.510638  ...  2022-09-26 00:00:00  NaN
HR           285.065123  194.0  86248.536082  ...  2022-09-22 00:00:00  NaN
Marketing    284.124536  200.0  85678.160000  ...  2022-09-23 00:00:00  NaN
Sales        296.599103  202.0  83665.252475  ...  2022-09-24 00:00:00  NaN

            Performance Score                                              \
                        count       mean    min      25%     50%      75%
Department
Engineering             216.0  84.894352  70.59  78.8575  84.400  91.1000
Finance                 188.0  84.551915  70.01  77.8425  84.370  90.7525
HR                      194.0  85.006959  70.02  77.3325  85.435  94.0700
Marketing               200.0  85.019300  70.01  77.5475  84.925  92.0850
Sales                   202.0  83.321535  70.31  76.7125  82.630  89.4825


               max       std
Department
Engineering  99.83  7.936713
Finance      99.94  8.230298
HR           99.79  9.184591
Marketing    99.49  8.888706
Sales        99.82  8.040239

[5 rows x 32 columns]